<div>

  <div ng-show="locationPath === '/search' ||  locationPath === '/'" style="margin-bottom: 5px;">
    <a ng-click="setRootCategory(null)" style="display: inline-block;">
      <div class="hovereffect">

        <picture>
          <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1471975218/publications-banner-2_nw8ung.webp">
          <img src="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1471975218/publications-banner-2_nw8ung.jpg" class="img-responsive">
        </picture>

        <div class="overlay"></div>
      </div>
    </a>

    <hr class="hr-xs" style="margin-top: 5px;">
  </div>

  <div ng-show="!(algolia.res.query === '' && algolia.res.nbHits === 0)">
    <form name="algoliaForm" novalidate="" ng-submit="submit()">
      <div class="input-group">
        <input type="text" class="form-control input-without-focus" ng-model="algolia.queryString" placeholder="Any Keywords" tabindex="1" input-focus>
        <div class="input-group-addon">
          <span ng-show="algolia.queryString === '';" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span ng-show="algolia.queryString !== '';" ng-click="algolia.queryString = '';" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </div>
    </form>
    <hr class="hr-xs">
  </div>

  <!--<hr class="hr-xs">-->
    <!--<button ng-click="_parseURL()" type="button" class="btn btn-default">Debug Route</button>-->
  <!--<hr class="hr-xs">-->

  <!--<pre>{{algolia.req | json}}</pre>-->
  <!--<pre>jobHasBenefits {{algolia.res.facets.jobHasBenefits | json}}</pre>-->
  <!--<pre>jobHasBonus  {{algolia.res.facets.jobHasBonus | json}}</pre>-->
  <!--<pre>{{algolia.sortOrder | json}}</pre>-->

  <div ng-show="algolia.res.nbHits > 0" class="visible-xs-block visible-sm-block" style="margin-bottom: 10px;">
    <button type="button" ng-click="responsiveFilters('lg')" class="btn btn-default btn-block responsive-width">Filter by categories, locations, and custom properties</button>
  </div>

  <div>


    <ol ng-show="algolia.faceting.currentFacets.categories.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" class="a-link" style="color: #ff0000"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span >Reset Categories</span>  </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.categories" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('categories', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
    </ol>

    <ol ng-show="algolia.faceting.currentFacets.locations.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" class="a-link" style="color: #ff0000"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <span >Reset Locations</span> </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.locations" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('locations', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
    </ol>

    <div ng-show="(algolia.res.query !== '' && algolia.res.nbHits === 0)">
      <div class="alert alert-info" role="alert" style="margin-bottom: 10px;">There is not publications for this query: <b>{{algolia.res.query}}</b>, <a href="/new-publication">create new one here!</a>  </div>
      <hr class="hr-xs">
    </div>

    <div ng-show="(algolia.res.query === '' && algolia.res.nbHits === 0)" >
      <div class="alert alert-info" role="alert" style="margin-bottom: 10px;">There is not publications, <a href="/new-publication">create new one here!</a>  </div>
      <hr class="hr-xs">
    </div>

    <pre ng-show="algolia.res.nbPages > 0" style="margin-bottom: 10px"><b>Page:</b> {{algolia.pagination.currentPage}} of {{algolia.res.nbPages}} | <b>Hits:</b> {{algolia.res.nbHits}}</pre>

    <ul ng-click="algolia.pagination.pageChanged(false)" uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage"  total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></ul>

    <div ng-show="algolia.res.nbHits > 0" >
      <hr class="hr-xs">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">

          <div class="panel panel-default" style="margin-bottom: 0;">

            <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Current Filters
            </div>
            <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Job type: {{algolia.faceting.currentFacets.jobType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Recruiter Type: {{algolia.faceting.currentFacets.jobRecruiterType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> The job has benefits
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> The job has bonus
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Salary Type: {{algolia.faceting.currentFacets.jobSalaryType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Home Status: {{algolia.faceting.currentFacets.reHomeStatus[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
                <span style="color: #ff0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Home for: {{algolia.faceting.currentFacets.reHomeFor[0].name}}
              </button>
            </div>

            <!--<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-home" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-plane" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-random" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-time" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-th" aria-hidden="true"></span>-->
            <!--<span class="glyphicon glyphicon-random" aria-hidden="true"></span>-->

            <div class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
                <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (facet.name === 'Marketplace'),'glyphicon-briefcase': (facet.name === 'Jobs'),'glyphicon-home': (facet.name === 'Real Estate'),'glyphicon-plane': (facet.name === 'Transport'),'glyphicon-wrench': (facet.name === 'Services')}"></span>
                {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
              </button>
            </div>

            <div class="panel-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
                {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
              </button>
            </div>

          </div>




          <!-- Jobs Facets -->
          <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <button ng-if="algolia.res.facets.jobHasBenefits.true && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits', true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has benefits - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBenefits.true"></span></button>

          <button ng-if="algolia.res.facets.jobHasBonus.true && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has bonus - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBonus.true"></span></button>

          <!-- Real State Facets -->
          <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-show="locationPath === '/search' ||  locationPath === '/'">
            <hr class="hr-xs">
            <p>
              <b>
                Shortcuts:
              </b>
            </p>
            <div>
              <div>
                <a ng-click="setRootCategory('jobs')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471980275/jobs-banner-4_narvua.webp">
                      <img src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471980275/jobs-banner-4_narvua.jpg" class="img-responsive" alt="Jobs">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('transport')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471982509/transport-banner-2_jl6n1a.webp">
                      <img src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471982509/transport-banner-2_jl6n1a.jpg" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('real-estate')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471983285/real-state-banner_syinid.webp">
                      <img src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471983285/real-state-banner_syinid.jpg" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('services')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471986618/services-banner_g45sqe.webp">
                      <img src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471986618/services-banner_g45sqe.jpg" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('marketplace')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471991348/site/marketplace-banner-3_bhqftd.webp">
                      <img src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:eco,w_300/v1471991348/site/marketplace-banner-3_bhqftd.jpg" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>



        </div>
        <div class="col-xs-12 col-md-9 col-lg-9">

          <div ng-show="algolia.res.nbHits > 1 && algolia.faceting.currentFacets.categories.length > 0" class="well well-sm" style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">Sorted by: </div>
            <select  class="form-control" ng-model="algolia.sortOrder.currentIndexName" ng-change="algolia.sortOrder.sortBy()">
              <option ng-repeat="sortOrder in algolia.sortOrder.options[algolia.faceting.currentFacets.categories[0].name]" value="{{sortOrder.indexName}}">{{sortOrder.title}}</option>
            </select>
          </div>

          <div>
            <!-- to see the links to edit or view -->
            <div ng-if="editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>
                      <div class="row">
                        <div class="col-xs-12">
                          <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">
                            <h4>
                              <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (publication.department === 'Marketplace'),'glyphicon-briefcase': (publication.department === 'Jobs'),'glyphicon-home': (publication.department === 'Real Estate'),'glyphicon-plane': (publication.department === 'Transport'),'glyphicon-wrench': (publication.department === 'Services')}"></span>
                              - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span>
                            </h4>
                          </a>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">

                              <picture ng-show="sizeOf(publication.images) === 0">
                                <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:low,w_700/noImageAvailableBig_lxxmuu.webp">
                                <img src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:low,w_700/noImageAvailableBig_lxxmuu.jpg" class="img-responsive img-thumbnail">
                              </picture>

                              <picture ng-show="sizeOf(publication.images) > 0">
                                <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                                <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                              </picture>

                            </a>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  {{publication.price | currency : '£' : 2 }}
                                </h4>
                              </li>
                              <li ng-if="publication.department === 'Real Estate'">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <b>{{publication.reHomeStatus}} Home for {{publication.reHomeFor}}</b>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? ' • ': ''}} </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yy'}}
                                </h5>
                              </li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  {{publication.jobSalaryStartAt | currency : '£' : 2 }} - {{publication.jobSalaryEndAt | currency : '£' : 2 }}
                                  per {{publication.jobSalaryType == 'Annual' ? 'annum' : ''}}
                                  {{publication.jobSalaryType == 'Daily' ? 'day' : ''}}
                                  {{publication.jobSalaryType == 'Hourly' ? 'hour' : ''}}
                                  {{publication.jobHasBenefits ? '+ benefits' : ''}}
                                  {{publication.jobHasBonus ? '+ bonus' : ''}}
                                  (Estimated Monthly Salary {{publication.jobEstimatedMonthlySalary | currency : '£' : 2 }})
                                </h4>
                              </li>
                              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{publication.jobType}}</li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? ' • ': ''}} </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}
                                </h5>
                              </li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/noImageAvailableBig_lxxmuu.webp">
                              <img src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/noImageAvailableBig_lxxmuu.jpg" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            <span ng-bind="publication.description | lodashTruncates: 147" ></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- to only view -->
            <div ng-if="!editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <div class="list-group">
                  <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html" class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>
                      <div class="row">
                        <div class="col-xs-12">
                          <h4>
                            <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (publication.department === 'Marketplace'),'glyphicon-briefcase': (publication.department === 'Jobs'),'glyphicon-home': (publication.department === 'Real Estate'),'glyphicon-plane': (publication.department === 'Transport'),'glyphicon-wrench': (publication.department === 'Services')}"></span>
                            - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span></h4>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:low,w_700/noImageAvailableBig_lxxmuu.webp">
                              <img src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:low,w_700/noImageAvailableBig_lxxmuu.jpg" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  {{publication.price | currency : '£' : 2 }}
                                </h4>
                              </li>
                              <li ng-if="publication.department === 'Real Estate'">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <b>{{publication.reHomeStatus}} Home for {{publication.reHomeFor}}</b>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}}{{!$last ? ' • ': ''}}</span>
                                </h5>
                              </li>
                              <li><h5><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}  </h5></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  {{publication.jobSalaryStartAt | currency : '£' : 2 }} - {{publication.jobSalaryEndAt | currency : '£' : 2 }}
                                  per {{publication.jobSalaryType == 'Annual' ? 'annum' : ''}}
                                  {{publication.jobSalaryType == 'Daily' ? 'day' : ''}}
                                  {{publication.jobSalaryType == 'Hourly' ? 'hour' : ''}}
                                  {{publication.jobHasBenefits ? '+ benefits' : ''}}
                                  {{publication.jobHasBonus ? '+ bonus' : ''}}
                                  (Estimated Monthly Salary {{publication.jobEstimatedMonthlySalary | currency : '£' : 2 }})
                                </h4>
                              </li>
                              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{publication.jobType}}</li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? ' • ': ''}} </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                  Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}
                                </h5>
                              </li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/noImageAvailableBig_lxxmuu.webp">
                              <img src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:low,w_250/noImageAvailableBig_lxxmuu.jpg" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:good,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_150,q_auto:good,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            <span ng-bind="publication.description | lodashTruncates: 147" ></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr class="hr-xs">
    </div>

    <!--ng-change="algolia.pagination.pageChanged()"-->

    <div class="pull-left visible-md-block visible-lg-block">
      With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> from

      <picture>
        <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:low,w_70/v1472131370/Algolia_logo_bg-white_jn2n2w.webp">
        <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:low,w_70/v1472131370/Algolia_logo_bg-white_jn2n2w.png" class="img-responsive" style="height: 20px; display: inline-block;" >
      </picture>

    </div>

    <div class="pull-right">
      <ul ng-click="algolia.pagination.pageChanged(true)" uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage"  total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></ul>
      <div class="visible-xs-block visible-sm-block" style="margin-top: 10px; text-align: right;">
        With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> from

        <picture>
          <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:low,w_70/v1472131370/Algolia_logo_bg-white_jn2n2w.webp">
          <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_scale,q_auto:low,w_70/v1472131370/Algolia_logo_bg-white_jn2n2w.png" class="img-responsive" style="height: 20px; display: inline-block;" >
        </picture>

      </div>
    </div>


  </div>
</div>

<!--<hr class="hr-xs">-->
<!--<pre ng-bind="algolia | json"></pre>-->



<script type="text/ng-template" id="responsiveFiltersModal.html">
  <div class="modal-body">

    <div class="panel panel-default" style="margin-bottom: 0;">

      <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Current Filters
      </div>
      <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Job type: {{algolia.faceting.currentFacets.jobType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Recruiter Type: {{algolia.faceting.currentFacets.jobRecruiterType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> The job has benefits
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> The job has bonus
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Salary Type: {{algolia.faceting.currentFacets.jobSalaryType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Home Status: {{algolia.faceting.currentFacets.reHomeStatus[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
          <span style="color: #ff0000" class="glyphicon glyphicon-remove" aria-hidden="true"></span> Home for: {{algolia.faceting.currentFacets.reHomeFor[0].name}}
        </button>
      </div>

      <div class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
          <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (facet.name === 'Marketplace'),'glyphicon-briefcase': (facet.name === 'Jobs'),'glyphicon-home': (facet.name === 'Real Estate'),'glyphicon-plane': (facet.name === 'Transport'),'glyphicon-wrench': (facet.name === 'Services')}"></span>
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

      <div class="panel-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

    </div>

    <!-- Jobs Facets -->
    <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <button ng-if="algolia.res.facets.jobHasBenefits.true && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits', true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has benefits - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBenefits.true"></span></button>

    <button ng-if="algolia.res.facets.jobHasBonus.true && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has bonus - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBonus.true"></span></button>


    <!-- Real State Facets -->
    <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
</script>