<div>

  <div ng-show="!(algolia.res.query === '' && algolia.res.nbHits === 0)">
    <form name="algoliaForm" novalidate="" ng-submit="submit()">
      <div class="input-group">
        <input type="text" class="form-control input-without-focus" ng-model="algolia.req.query" placeholder="Any Keywords" tabindex="1" input-focus>
        <div class="input-group-addon">
          <span ng-show="algolia.req.query === '';" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span ng-show="algolia.req.query !== '';" ng-click="algolia.req.query = '';" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </div>
    </form>
  </div>

  <hr class="hr-xs">
    <button ng-click="_parseURL()" type="button" class="btn btn-default">Debug Route</button>
  <hr class="hr-xs">

  <!--<pre>{{algolia.req | json}}</pre>-->
  <!--<pre>jobHasBenefits {{algolia.res.facets.jobHasBenefits | json}}</pre>-->
  <!--<pre>jobHasBonus  {{algolia.res.facets.jobHasBonus | json}}</pre>-->
  <!--<pre>{{algolia.sortOrder | json}}</pre>-->

  <div ng-show="algolia.res.nbHits > 0" class="visible-xs-block visible-sm-block">
    <hr class="hr-xs">
    <button type="button" ng-click="responsiveFilters('lg')" class="btn btn-default btn-block responsive-width">Filter by categories, locations, and custom properties</button>
  </div>

  <div>

    <hr class="hr-xs">

    <ol ng-show="algolia.faceting.currentFacets.categories.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" class="a-link" style="color: #ff0000"><i class="fa fa-bars"></i> <span >Reset Categories</span>  </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.categories" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('categories', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
    </ol>

    <ol ng-show="algolia.faceting.currentFacets.locations.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" class="a-link" style="color: #ff0000"><i class="fa fa-map-marker"></i> <span >Reset Locations</span> </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.locations" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('locations', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
    </ol>

    <div ng-show="(algolia.res.query !== '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert" style="margin-bottom: 0;">There is not publications for this query: <b>{{algolia.res.query}}</b>, <a href="/new-publication">create new one here!</a>  </div>
    <div ng-show="(algolia.res.query === '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert" style="margin-bottom: 0;">There is not publications, <a href="/new-publication">create new one here!</a>  </div>

    <pre ng-show="algolia.res.nbPages > 0" style="margin-bottom: 10px"><b>Page:</b> {{algolia.pagination.currentPage}} of {{algolia.res.nbPages}} | <b>Hits:</b> {{algolia.res.nbHits}}</pre>

    <div ng-show="algolia.res.nbHits > 0" >
      <hr class="hr-xs">
      <div class="row">
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">

          <div class="panel panel-default" style="margin-bottom: 0;">

            <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <i class="fa fa-filter"></i> Current Filters
            </div>
            <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> Job type: {{algolia.faceting.currentFacets.jobType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> Recruiter Type: {{algolia.faceting.currentFacets.jobRecruiterType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> The job has benefits
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> The job has bonus
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> Salary Type: {{algolia.faceting.currentFacets.jobSalaryType[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> Home Status: {{algolia.faceting.currentFacets.reHomeStatus[0].name}}
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
                <i style="color: #ff0000" class="fa fa-times"></i> Home for: {{algolia.faceting.currentFacets.reHomeFor[0].name}}
              </button>
            </div>

            <div class="panel-heading"><i class="fa fa-bars"></i> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
                <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
                {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
              </button>
            </div>

            <div class="panel-heading"><i class="fa fa-map-marker"></i> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
                <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
                {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
              </button>
            </div>

          </div>




          <!-- Jobs Facets -->
          <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-random"></i> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-random"></i> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-random"></i> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <button ng-if="algolia.res.facets.jobHasBenefits.true && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits', true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has benefits - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBenefits.true"></span></button>

          <button ng-if="algolia.res.facets.jobHasBonus.true && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has bonus - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBonus.true"></span></button>

          <!--<div ng-if="algolia.res.facets.jobHasBenefits && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">-->
            <!--<div class="panel-heading"><i class="fa fa-random"></i> The job has benefits <button ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>-->
            <!--<div class="list-group">-->
              <!--<button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBenefits" >-->
                <!--{{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div ng-if="algolia.res.facets.jobHasBonus && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">-->
            <!--<div class="panel-heading"><i class="fa fa-random"></i> The job has bonus <button ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>-->
            <!--<div class="list-group">-->
              <!--<button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBonus" >-->
                <!--{{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->

          <!-- Real State Facets -->
          <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-random"></i> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-random"></i> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
                {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
              </button>
            </div>
          </div>


        </div>
        <div class="col-xs-12 col-md-9 col-lg-9">

          <div ng-show="algolia.res.nbHits > 1 && algolia.faceting.currentFacets.categories.length > 0" class="well well-sm" style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">Sorted by: </div>
            <select  class="form-control" ng-model="algolia.sortOrder.currentIndexName" ng-change="algolia.sortOrder.sortBy()">
              <option ng-repeat="sortOrder in algolia.sortOrder.options[algolia.faceting.currentFacets.categories[0].name]" value="{{sortOrder.indexName}}">{{sortOrder.title}}</option>
            </select>
          </div>

          <div>
            <!-- to see the links to edit or view -->
            <div ng-if="editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>
                      <div class="row">
                        <div class="col-xs-12">
                          <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">
                            <h4>
                              <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (publication.department === 'Marketplace'),'fa-suitcase': (publication.department === 'Jobs'),'fa-home': (publication.department === 'Real Estate'),'fa-car': (publication.department === 'Transport'),'fa-wrench': (publication.department === 'Services')}"></i>
                              - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span>
                            </h4>
                          </a>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">
                              <img ng-show="sizeOf(publication.images) === 0" src="static/assets/images/noImageAvailableBig.jpg" alt="..." class="img-responsive img-thumbnail">
                              <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                                <cl-transformation height="300" width="600" crop="fill"  />
                              </cl-image>
                            </a>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  <!--<i class="fa fa-gbp"></i> -->
                                  {{publication.price | currency : '£' : 2 }}
                                </h4>
                              </li>
                              <li ng-if="publication.department === 'Real Estate'">
                                <i class="fa fa-home"></i> <b>{{publication.reHomeStatus}} Home for {{publication.reHomeFor}}</b>
                              </li>
                              <li><h5><i class="fa fa-map-marker"></i>
                                <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? '/': ''}} </span>
                              </h5></li>
                              <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}} / {{publication.releaseDate | date:'MM'}} / {{publication.releaseDate | date:'yy'}}  </h5></li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  <!--<i class="fa fa-gbp"></i>-->
                                  {{publication.jobSalaryStartAt | currency : '£' : 2 }} - {{publication.jobSalaryEndAt | currency : '£' : 2 }}
                                  per {{publication.jobSalaryType == 'Annual' ? 'annum' : ''}}
                                  {{publication.jobSalaryType == 'Daily' ? 'day' : ''}}
                                  {{publication.jobSalaryType == 'Hourly' ? 'hour' : ''}}
                                  {{publication.jobHasBenefits ? '+ benefits' : ''}}
                                  {{publication.jobHasBonus ? '+ bonus' : ''}}
                                  (Estimated Monthly Salary {{publication.jobEstimatedMonthlySalary | currency : '£' : 2 }})
                                </h4>
                              </li>
                              <li><i class="fa fa-clock-o"></i> {{publication.jobType}}</li>
                              <li><h5><i class="fa fa-map-marker"></i>
                                <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? '•': ''}} </span>
                              </h5></li>
                              <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}  </h5></li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                            <img ng-show="sizeOf(publication.images) === 0" src="static/assets/images/noImageAvailableBig.jpg" alt="..." class="img-responsive img-thumbnail">

                            <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                              <cl-transformation height="150" width="250" crop="fill"  />
                            </cl-image>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            JavaScript Developer - Birkenhead - 3/6 months - AngularJS, HTML5, CSS3 I am currently looking for a JavaScript Developer to join a Business Travel...
                          </div>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- to only view -->
            <div ng-if="!editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <div class="list-group">
                  <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html" class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>
                      <div class="row">
                        <div class="col-xs-12">
                          <h4>
                            <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (publication.department === 'Marketplace'),'fa-suitcase': (publication.department === 'Jobs'),'fa-home': (publication.department === 'Real Estate'),'fa-car': (publication.department === 'Transport'),'fa-wrench': (publication.department === 'Services')}"></i>
                            - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span></h4>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
                            <img ng-show="sizeOf(publication.images) === 0" src="static/assets/images/noImageAvailableBig.jpg" alt="..." class="img-responsive img-thumbnail">
                            <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                              <cl-transformation height="400" width="700" crop="fill"  />
                            </cl-image>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  <!--<i class="fa fa-gbp"></i> -->
                                  {{publication.price | currency : '£' : 2 }}
                                </h4>
                              </li>
                              <li ng-if="publication.department === 'Real Estate'">
                                <i class="fa fa-home"></i> <b>{{publication.reHomeStatus}} Home for {{publication.reHomeFor}}</b>
                              </li>
                              <li>
                                <h5>
                                  <i class="fa fa-map-marker"></i>
                                  <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}}{{!$last ? ' • ': ''}}</span>
                                </h5>
                              </li>
                              <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}  </h5></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  <!--<i class="fa fa-gbp"></i>-->
                                  {{publication.jobSalaryStartAt | currency : '£' : 2 }} - {{publication.jobSalaryEndAt | currency : '£' : 2 }}
                                  per {{publication.jobSalaryType == 'Annual' ? 'annum' : ''}}
                                  {{publication.jobSalaryType == 'Daily' ? 'day' : ''}}
                                  {{publication.jobSalaryType == 'Hourly' ? 'hour' : ''}}
                                  {{publication.jobHasBenefits ? '+ benefits' : ''}}
                                  {{publication.jobHasBonus ? '+ bonus' : ''}}
                                  (Estimated Monthly Salary {{publication.jobEstimatedMonthlySalary | currency : '£' : 2 }})
                                </h4>
                              </li>
                              <li><i class="fa fa-clock-o"></i> {{publication.jobType}}</li>
                              <li><h5><i class="fa fa-map-marker"></i>
                                <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? '•': ''}} </span>
                              </h5></li>
                              <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}}/{{publication.releaseDate | date:'MM'}}/{{publication.releaseDate | date:'yyyy'}}  </h5></li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">
                            <img ng-show="sizeOf(publication.images) === 0" src="static/assets/images/noImageAvailableBig.jpg" alt="..." class="img-responsive img-thumbnail">

                            <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                              <cl-transformation height="150" width="250" crop="fill"  />
                            </cl-image>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            JavaScript Developer - Birkenhead - 3/6 months - AngularJS, HTML5, CSS3 I am currently looking for a JavaScript Developer to join a Business Travel...
                          </div>
                        </div>
                      </div>

                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr class="hr-xs">
    </div>

    <div class="pull-right">
      <uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage" ng-change="algolia.pagination.pageChanged()" total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></uib-pagination>
    </div>


  </div>
</div>

<!--<hr class="hr-xs">-->
<!--<pre ng-bind="algolia | json"></pre>-->



<script type="text/ng-template" id="responsiveFiltersModal.html">
  <div class="modal-body">

    <div class="panel panel-default" style="margin-bottom: 0;">

      <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0">
        <i class="fa fa-filter"></i> Current Filters
      </div>
      <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0">
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
          <i style="color: #ff0000" class="fa fa-times"></i> Job type: {{algolia.faceting.currentFacets.jobType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
          <i style="color: #ff0000" class="fa fa-times"></i> Recruiter Type: {{algolia.faceting.currentFacets.jobRecruiterType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
          <i style="color: #ff0000" class="fa fa-times"></i> Salary Type: {{algolia.faceting.currentFacets.jobSalaryType[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
          <i style="color: #ff0000" class="fa fa-times"></i> Home Status: {{algolia.faceting.currentFacets.reHomeStatus[0].name}}
        </button>
        <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
          <i style="color: #ff0000" class="fa fa-times"></i> Home for: {{algolia.faceting.currentFacets.reHomeFor[0].name}}
        </button>
      </div>

      <div class="panel-heading"><i class="fa fa-bars"></i> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
          <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

      <div class="panel-heading"><i class="fa fa-map-marker"></i> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
          <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

    </div>

    <!-- Jobs Facets -->
    <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><i class="fa fa-random"></i> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><i class="fa fa-random"></i> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><i class="fa fa-random"></i> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <!--<div ng-if="algolia.res.facets.jobHasBenefits && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">-->
    <!--<div class="panel-heading"><i class="fa fa-random"></i> The job has benefits <button ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>-->
    <!--<div class="list-group">-->
    <!--<button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBenefits" >-->
    <!--{{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div ng-if="algolia.res.facets.jobHasBonus && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">-->
    <!--<div class="panel-heading"><i class="fa fa-random"></i> The job has bonus <button ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>-->
    <!--<div class="list-group">-->
    <!--<button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBonus" >-->
    <!--{{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>-->
    <!--</button>-->
    <!--</div>-->
    <!--</div>-->

    <!-- Real State Facets -->
    <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><i class="fa fa-random"></i> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

    <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
      <div class="panel-heading"><i class="fa fa-random"></i> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
      <div class="list-group">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
          {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
        </button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
</script>