<div>

  <!-- Any Type Publications Banner -->
  <div ng-show="locationPath === '/'" style="margin-bottom: 5px;">
    <a ng-click="setRootCategory(null)" style="display: inline-block;">
      <div class="hovereffect">

        <picture>
          <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.anyTypePublicationsBanner.webp}}">
          <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.anyTypePublicationsBanner.jpg}}" class="img-responsive">
        </picture>

        <div class="overlay"></div>
      </div>
    </a>

    <hr class="hr-xs" style="margin-top: 5px;">
  </div>

  <!-- Search input -->
  <div ng-show="!(algolia.res.query === '' && algolia.res.nbHits === 0)">
    <form name="algoliaForm" novalidate="" ng-submit="submit()">
      <div class="input-group">
        <input type="text" class="form-control input-without-focus" ng-model="algolia.queryString" placeholder="Any Keywords" tabindex="1" input-focus>
        <div class="input-group-addon">
          <span ng-show="algolia.queryString === '';" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span ng-show="algolia.queryString !== '';" ng-click="algolia.queryString = '';" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </div>
    </form>
    <hr class="hr-xs">
  </div>

  <!-- Filters-Facets responsive modal  -->
  <div ng-show="algolia.res.nbHits > 0" class="visible-xs-block visible-sm-block" style="margin-bottom: 10px;">
    <button type="button" ng-click="responsiveFilters('lg')" class="btn btn-default btn-block responsive-width">Filter by categories, locations, and custom properties</button>
  </div>

  <div>

    <!-- Categories selection manifest -->
    <ol ng-show="algolia.faceting.currentFacets.categories.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" class="a-link remove"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> <span >Reset Categories</span>  </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.categories" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('categories', facet, $index)" ng-class="{'a-link': !$last}"> <span ng-bind="facet.name | capitalizeFirstChar"></span> </li>
    </ol>

    <!-- Locations selection manifest -->
    <ol ng-show="algolia.faceting.currentFacets.locations.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
      <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" class="a-link remove"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <span >Reset Locations</span> </li>
      <li ng-repeat="facet in algolia.faceting.currentFacets.locations" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('locations', facet, $index)" ng-class="{'a-link': !$last}"> <span ng-bind="facet.name | capitalizeFirstChar"></span> </li>
    </ol>

    <!-- No publications Info for the query string  -->
    <div ng-show="(algolia.res.query !== '' && algolia.res.nbHits === 0)">
      <div class="alert alert-info" role="alert" style="margin-bottom: 10px;">There is not publications for this query: <b><span ng-bind="algolia.res.query"></span></b>, <a href="/new-publication">create new one here!</a>  </div>
      <hr class="hr-xs">
    </div>

    <!-- No publications Info for the account-->
    <div ng-show="(algolia.res.query === '' && algolia.res.nbHits === 0)" >
      <div class="alert alert-info" role="alert" style="margin-bottom: 10px;">There is not publications, <a href="/new-publication">create new one here!</a>  </div>
      <hr class="hr-xs">
    </div>

    <!-- Count of pages, total hits manifest -->
    <pre ng-show="algolia.res.nbPages > 0" style="margin-bottom: 10px"><b>Page:</b> <span ng-bind="algolia.pagination.currentPage"></span> of <span ng-bind="algolia.res.nbPages"></span> | <b>Hits:</b> <span ng-bind="algolia.res.nbHits"></span></pre>

    <!-- Pagination -->
    <ul ng-click="algolia.pagination.pageChanged(false)" uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage"  total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></ul>


    <!-- Publications and Sidebar filter-facets -->
    <div ng-show="algolia.res.nbHits > 0" >
      <hr class="hr-xs">
      <div class="row">

        <!-- Filter facets -->
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">

          <div class="panel panel-default" style="margin-bottom: 0;">

            <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Current Filters
            </div>
            <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> Job type: <span ng-bind="algolia.faceting.currentFacets.jobType[0].name"></span>
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> Recruiter Type: <span ng-bind="algolia.faceting.currentFacets.jobRecruiterType[0].name"></span>
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> The job has benefits
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> The job has bonus
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> Salary Type: <span ng-bind="algolia.faceting.currentFacets.jobSalaryType[0].name"></span>
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> Home Status: <span ng-bind="algolia.faceting.currentFacets.reHomeStatus[0].name"></span>
              </button>
              <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
                <span class="glyphicon glyphicon-remove-sign remove" aria-hidden="true"></span> Home for: <span ng-bind="algolia.faceting.currentFacets.reHomeFor[0].name"></span>
              </button>
            </div>

            <div class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
                <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (facet.name === 'Marketplace'),'glyphicon-briefcase': (facet.name === 'Jobs'),'glyphicon-home': (facet.name === 'Real Estate'),'glyphicon-plane': (facet.name === 'Transport'),'glyphicon-wrench': (facet.name === 'Services')}"></span>
                <span ng-bind="facet.name | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="facet.count"></span></span>
              </button>
            </div>

            <div class="panel-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
                <span ng-bind="facet.name | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="facet.count"></span></span>
              </button>
            </div>

          </div>




          <!-- Jobs Facets -->
          <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
                <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
                <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
                <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
              </button>
            </div>
          </div>

          <button ng-if="algolia.res.facets.jobHasBenefits.true && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits', true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has benefits - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBenefits.true"></span></button>

          <button ng-if="algolia.res.facets.jobHasBonus.true && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has bonus - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBonus.true"></span></button>

          <!-- Real State Facets -->
          <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
                <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
              </button>
            </div>
          </div>

          <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
            <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
            <div class="list-group">
              <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
                <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
              </button>
            </div>
          </div>

          <div ng-show="locationPath === '/'">
            <hr class="hr-xs">
            <p>
              <b>
                Shortcuts:
              </b>
            </p>
            <div>
              <div>
                <a ng-click="setRootCategory('jobs')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.jobs.webp}}">
                      <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.jobs.jpg}}" class="img-responsive" alt="Jobs">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('transport')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.transport.webp}}">
                      <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.transport.jpg}}" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('real-estate')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.realState.webp}}">
                      <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.realState.jpg}}" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('services')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.services.webp}}">
                      <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.services.jpg}}" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
              <div style="margin-top: 10px;">
                <a ng-click="setRootCategory('marketplace')" class="img-thumbnail">
                  <div class="hovereffect">

                    <picture>
                      <source type="image/webp" srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.marketplace.webp}}">
                      <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.shortcutsBanners.marketplace.jpg}}" class="img-responsive" alt="Transport">
                    </picture>

                    <div class="overlay"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>



        </div>

        <!-- Publications -->
        <div class="col-xs-12 col-md-9 col-lg-9">

          <div ng-show="algolia.res.nbHits > 1 && algolia.faceting.currentFacets.categories.length > 0" class="well well-sm" style="margin-bottom: 10px;">
            <div style="margin-bottom: 5px;">Sorted by: </div>
            <select  class="form-control" ng-model="algolia.sortOrder.currentIndexName" ng-change="algolia.sortOrder.sortBy()">
              <option ng-repeat="sortOrder in algolia.sortOrder.options[algolia.faceting.currentFacets.categories[0].name]" value="{{sortOrder.indexName}}">{{sortOrder.title}}</option>
            </select>
          </div>

          <div>
            <!-- Only Visible in account page as edit mode -->
            <div ng-if="editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <ul class="list-group">
                  <li class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>

                      <!-- Title -->
                      <div class="row">
                        <div class="col-xs-12">
                          <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">
                            <h4>
                              <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (publication.department === 'Marketplace'),'glyphicon-briefcase': (publication.department === 'Jobs'),'glyphicon-home': (publication.department === 'Real Estate'),'glyphicon-plane': (publication.department === 'Transport'),'glyphicon-wrench': (publication.department === 'Services')}"></span>
                              - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span>
                            </h4>
                          </a>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <!-- Feature Image an details of the publication - only if the publications type is: ['Marketplace', 'Real Estate', 'Transport', 'Services'] -->
                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <!-- Feature Image -->
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html">

                              <picture ng-show="sizeOf(publication.images) === 0">
                                <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.webp}}">
                                <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.jpg}}" class="img-responsive img-thumbnail">
                              </picture>

                              <picture ng-show="sizeOf(publication.images) > 0">
                                <source type="image/webp" ng-srcset="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                                <img ng-src="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                              </picture>

                            </a>
                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  <span ng-bind="publication.price | currency : '£' : 2"></span>
                                </h4>
                              </li>
                              <!-- Home For Sell or Rent - only if the publications type is: ['Real Estate']-->
                              <li ng-if="publication.department === 'Real Estate'">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <b><span ng-bind="publication.reHomeStatus"></span> Home for <span ng-bind="publication.reHomeFor"></span></b>
                              </li>
                              <!-- Location of the Publication -->
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> <span ng-bind="location | capitalizeFirstChar"></span> <span ng-bind="!$last ? ' • ': ''"></span> </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: <span ng-bind="publication.releaseDate | date:'dd'"></span>/<span ng-bind="publication.releaseDate | date:'MM'"></span>/<span ng-bind="publication.releaseDate | date:'yy'"></span>
                                </h5>
                              </li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  <span ng-bind="publication.jobSalaryStartAt | currency : '£' : 2 "></span> - <span ng-bind="publication.jobSalaryEndAt | currency : '£' : 2 "></span>
                                  per <span ng-bind="publication.jobSalaryType == 'Annual' ? 'annum' : ''"></span>
                                  <span ng-bind="publication.jobSalaryType == 'Daily' ? 'day' : ''"></span>
                                  <span ng-bind="publication.jobSalaryType == 'Hourly' ? 'hour' : ''"></span>
                                  <span ng-bind="publication.jobHasBenefits ? '+ benefits' : ''"></span>
                                  <span ng-bind="publication.jobHasBonus ? '+ bonus' : ''"></span>
                                  (Estimated Monthly Salary <span ng-bind="publication.jobEstimatedMonthlySalary | currency : '£' : 2 "></span>)
                                </h4>
                              </li>
                              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span ng-bind="publication.jobType"></span></li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> <span ng-bind="location | capitalizeFirstChar"></span> <span ng-bind="!$last ? ' • ': ''"></span> </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: <span ng-bind="publication.releaseDate | date:'dd'"></span>/<span ng-bind="publication.releaseDate | date:'MM'"></span>/<span ng-bind="publication.releaseDate | date:'yyyy'"></span>
                                </h5>
                              </li>
                              <li ng-if="algolia.faceting.currentFacets.userID.length > 0">
                                <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
                              </li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.webp}}">
                              <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.jpg}}" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_150,q_auto:low,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_150,q_auto:low,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            <span ng-bind="publication.description | lodashTruncates: 147" ></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- to only view -->
            <div ng-if="!editMode">
              <div class="panel panel-default" style="margin-bottom: 0;">
                <div class="list-group">
                  <a ng-href="/v/{{publication.categories | lodashJoin:' ' | slug }}-in-{{publication.locations | lodashJoin:' ' | slug }}/{{publication.objectID}}/{{publication.title | slug}}.html" class="list-group-item" ng-repeat="publication in algolia.res.hits">
                    <!-- publication -->
                    <div>
                      <div class="row">
                        <div class="col-xs-12">
                          <h4>
                            <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (publication.department === 'Marketplace'),'glyphicon-briefcase': (publication.department === 'Jobs'),'glyphicon-home': (publication.department === 'Real Estate'),'glyphicon-plane': (publication.department === 'Transport'),'glyphicon-wrench': (publication.department === 'Services')}"></span>
                            - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span></h4>
                          <hr class="hr-xs">
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.webp}}">
                              <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.jpg}}" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_400,q_auto:good,w_700/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >

                            <hr class="hr-xs visible-xs-block visible-sm-block">

                            <ul class="list-unstyled">
                              <li ng-if="publication.department !== 'Services'">
                                <h4>
                                  <span ng-bind="publication.price | currency : '£' : 2 "></span>
                                </h4>
                              </li>
                              <li ng-if="publication.department === 'Real Estate'">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <b><span ng-bind="publication.reHomeStatus"></span> Home for <span ng-bind="publication.reHomeFor"></span></b>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> <span ng-bind="location | capitalizeFirstChar"></span><span ng-bind="!$last ? ' • ': ''"></span></span>
                                </h5>
                              </li>
                              <li><h5><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Since: <span ng-bind="publication.releaseDate | date:'dd'"></span>/<span ng-bind="publication.releaseDate | date:'MM'"></span>/<span ng-bind="publication.releaseDate | date:'yyyy'"></span>  </h5></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <div ng-if="(publication.department === 'Jobs')">
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <ul class="list-unstyled">
                              <li>
                                <h4>
                                  <span ng-bind="publication.jobSalaryStartAt | currency : '£' : 2 "></span> - <span ng-bind="publication.jobSalaryEndAt | currency : '£' : 2 "></span>
                                  per <span ng-bind="publication.jobSalaryType == 'Annual' ? 'annum' : ''"></span>
                                  <span ng-bind="publication.jobSalaryType == 'Daily' ? 'day' : ''"></span>
                                  <span ng-bind="publication.jobSalaryType == 'Hourly' ? 'hour' : ''"></span>
                                  <span ng-bind="publication.jobHasBenefits ? '+ benefits' : ''"></span>
                                  <span ng-bind="publication.jobHasBonus ? '+ bonus' : ''"></span>
                                  (Estimated Monthly Salary <span ng-bind="publication.jobEstimatedMonthlySalary | currency : '£' : 2 "></span>)
                                </h4>
                              </li>
                              <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span ng-bind="publication.jobType"></span></li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                  <span ng-repeat="location in publication.locations"> <span ng-bind="location | capitalizeFirstChar"></span> <span ng-bind="!$last ? ' • ': ''"></span> </span>
                                </h5>
                              </li>
                              <li>
                                <h5>
                                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                  Since: <span ng-bind="publication.releaseDate | date:'dd'"></span>/<span ng-bind="publication.releaseDate | date:'MM'"></span>/<span ng-bind="publication.releaseDate | date:'yyyy'"></span>
                                </h5>
                              </li>
                            </ul>
                          </div>
                          <div class="hidden-xs hidden-sm col-md-2 col-lg-2">

                            <picture ng-show="sizeOf(publication.images) === 0">
                              <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.webp}}">
                              <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.noImageAvailableBig.jpg}}" class="img-responsive img-thumbnail">
                            </picture>

                            <picture ng-show="sizeOf(publication.images) > 0">
                              <source type="image/webp" ng-srcset="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_150,q_auto:good,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.webp">
                              <img ng-src="https://res.cloudinary.com/{{CLOUDINARY_CLOUD_NAME}}/image/upload/c_fill,h_150,q_auto:good,w_250/{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images)}}.jpg" class="img-responsive img-thumbnail">
                            </picture>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-12">
                            <hr class="hr-xs">
                            <span ng-bind="publication.description | lodashTruncates: 147" ></span>
                          </div>
                        </div>
                      </div>

                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr class="hr-xs">
    </div>


    <!-- Algolia Logo -->
    <div>
      <div class="pull-left visible-md-block visible-lg-block">
        With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> from
        <a href="https://www.algolia.com/" target="_blank">
          <picture>
            <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.algoliaLogo.webp}}">
            <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.algoliaLogo.jpg}}" class="img-responsive" style="height: 20px; display: inline-block;" >
          </picture>
        </a>
      </div>

      <div class="pull-right">
        <ul ng-click="algolia.pagination.pageChanged(true)" uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage"  total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></ul>
        <div class="visible-xs-block visible-sm-block" style="margin-top: 10px; text-align: right;">
          With <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> from
          <a href="https://www.algolia.com/" target="_blank">
            <picture>
              <source type="image/webp" ng-srcset="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.algoliaLogo.webp}}">
              <img ng-src="{{CLOUDINARY_SITE_DEFAULT_IMAGES.publicationsListDirective.algoliaLogo.jpg}}" class="img-responsive" style="height: 20px; display: inline-block;" >
            </picture>
          </a>
        </div>
      </div>
    </div>


  </div>
</div>