<div class="modal-body">

  <div class="panel panel-default" style="margin-bottom: 0;">

    <div class="panel-heading" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Current Filters
    </div>
    <div class="list-group" ng-show="algolia.faceting.currentFacets.jobType.length > 0 || algolia.faceting.currentFacets.jobRecruiterType.length > 0 || algolia.faceting.currentFacets.jobSalaryType.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeStatus.length > 0 || algolia.faceting.currentFacets.reHomeFor.length > 0 || algolia.faceting.currentFacets.jobHasBenefits.length > 0 || algolia.faceting.currentFacets.jobHasBonus.length > 0">
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> <span ng-bind="'Job type: ' + algolia.faceting.currentFacets.jobType[0].name"></span>
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> <span ng-bind="'Recruiter Type: ' + algolia.faceting.currentFacets.jobRecruiterType[0].name"></span>
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> The job has benefits
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> The job has bonus
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> <span ng-bind="'Salary Type: '+ algolia.faceting.currentFacets.jobSalaryType[0].name"></span>
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> <span ng-bind="'Home Status: ' + algolia.faceting.currentFacets.reHomeStatus[0].name"></span>
      </button>
      <button type="button" class="list-group-item" ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')"  >
        <span class="glyphicon glyphicon-remove remove" aria-hidden="true"></span> <span ng-bind="'Home for: ' + algolia.faceting.currentFacets.reHomeFor[0].name"></span>
      </button>
    </div>

    <div class="panel-heading"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: #ff0000;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
        <span style="color: #286090" class="glyphicon" ng-class="{'glyphicon-shopping-cart': (facet.name === 'Marketplace'),'glyphicon-briefcase': (facet.name === 'Jobs'),'glyphicon-home': (facet.name === 'Real Estate'),'glyphicon-plane': (facet.name === 'Transport'),'glyphicon-wrench': (facet.name === 'Services')}"></span>
        <span ng-bind="facet.name | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="facet.count"></span></span>
      </button>
    </div>

    <div class="panel-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations', facet, true);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
        <span ng-bind="facet.name | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="facet.count"></span></span>
      </button>
    </div>

  </div>

  <!-- Jobs Facets -->
  <div ng-if="algolia.res.facets.jobType && sizeOf(algolia.res.facets.jobType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
        <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
      </button>
    </div>
  </div>

  <div ng-if="algolia.res.facets.jobRecruiterType && sizeOf(algolia.res.facets.jobRecruiterType) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
        <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
      </button>
    </div>
  </div>

  <div ng-if="algolia.res.facets.jobSalaryType && sizeOf(algolia.res.facets.jobSalaryType) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
        <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
      </button>
    </div>
  </div>

  <button ng-if="algolia.res.facets.jobHasBenefits.true && sizeOf(algolia.res.facets.jobHasBenefits) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits', true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has benefits - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBenefits.true"></span></button>

  <button ng-if="algolia.res.facets.jobHasBonus.true && sizeOf(algolia.res.facets.jobHasBonus) > 1 && algolia.faceting.currentFacets.categories.length > 0  && (algolia.faceting.currentFacets.categories[0].name === 'Jobs')" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',true, true);" class="btn btn-default btn-block" type="submit" style="margin-top: 10px; text-align: left;">The job has bonus - <span class="badge" style="float: inherit; background-color: #777;" ng-bind="algolia.res.facets.jobHasBonus.true"></span></button>


  <!-- Real State Facets -->
  <div ng-if="algolia.res.facets.reHomeStatus && sizeOf(algolia.res.facets.reHomeStatus) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
        <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
      </button>
    </div>
  </div>

  <div ng-if="algolia.res.facets.reHomeFor && sizeOf(algolia.res.facets.reHomeFor) > 1 && algolia.faceting.currentFacets.categories.length > 0 && (algolia.faceting.currentFacets.categories[0].name === 'Real Estate')" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
    <div class="panel-heading"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> Home for <button ng-show="algolia.faceting.currentFacets.reHomeFor.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeFor')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeFor',facetName, true);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeFor" >
        <span ng-bind="facetName | capitalizeFirstChar"></span> - <span class="badge" style="float: inherit;"><span ng-bind="count"></span></span>
      </button>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>