<div class="container" style="margin-top: 17px;" ng-show="!lording.isDone">
  <div cg-busy="{promise: lording.promise, message:'Just a moment'}">
    <div class="panel panel-default uk-flag-background"  style="height: 600px;">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>

<div ng-show="lording.isDone" style="margin-bottom: 10px;">

  <div>
    <div>
      <img  ng-src="{{(profile.$banners.length > 0) ? 'https://res.cloudinary.com/berlin/image/upload/c_fill,h_617,q_auto:best,w_2000/' + profile.$banners[0].$id + '.webp' : 'http://res.cloudinary.com/berlin/image/upload/c_fill,h_617,q_auto:best,w_2000/v1471962346/iceland_q4qb4e.webp'}}" alt="..." class="img-responsive" ng-style="{cursor: (profile.$images.length > 0) ? 'pointer' : 'default' }" >
    </div>

    <div class="container">
      <div class="visible-lg-block row" style="position: relative;">
        <div style="position: absolute; width: 100%; height: 100%; top: -277px; z-index: 10;">
          <div class="col-lg-3">
            <img ng-click="profileImages('lg', profile.$images.length-1)" ng-src="{{(profile.$images.length > 0) ? 'https://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:best,w_400/' + profile.$images[0].$id + '.webp' : 'http://res.cloudinary.com/berlin/image/upload/c_scale,w_400/v1471961823/unnamedPerson_diuaor.webp'}}" alt="..." class="img-thumbnail img-responsive" ng-style="{cursor: (profile.$images.length > 0) ? 'pointer' : 'default' }" >
          </div>
        </div>
      </div>
      <div class="visible-sm-block visible-md-block" style="position: relative;">
        <div class="" style="position: absolute; width: 100%; height: 100%; top: -175px; z-index: 10;">
          <div class="text-center">
            <div class="col-lg-3">
              <img style="width: 160px;" ng-click="profileImages('lg', profile.$images.length-1)" ng-src="{{(profile.$images.length > 0) ? 'https://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:best,w_400/' + profile.$images[0].$id + '.webp' : 'http://res.cloudinary.com/berlin/image/upload/c_scale,w_400/v1471961823/unnamedPerson_diuaor.webp'}}" alt="..." class="img-thumbnail img-responsive" ng-style="{cursor: (profile.$images.length > 0) ? 'pointer' : 'default' }" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<pre>{{profile | json}}</pre>-->

  <div>
    <div style="border-bottom: 1px solid #D4D4D4; background: white; padding: 10px; margin-bottom: 10px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-3" style="text-align: center;">
            <div class="visible-md-block visible-lg-block"></div>
            <div>
              <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>

              <div style="display: inline-block; margin-left: 4px;">
                <script>
                  delete IN;
                </script>
                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                <script type="IN/Share"></script>
              </div>

              <div>
                <facebook data-url="profile.$seoURL"></facebook>
              </div>

            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-2" style="text-align: center;">
                <div>Publications</div>
                <div>{{publications.count !== undefined ? publications.count : 0}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">

          <div class="panel panel-default">
            <div class="panel-body">
              <span style="color: #000; font-size: 22px; font-weight: 600; font-family: Raleway;"> {{profile.pseudonym === undefined || profile.pseudonym === ''? profile.names : profile.pseudonym }}</span>

              <div ng-show="(profile.accountName !== undefined && profile.accountName !== '')">
                <span style="text-shadow: 0 0 0.3px rgba(0,0,0,.8)"> <a ng-href="/{{profile.accountName}}">@{{profile.accountName}}</a></span>
                <hr ng-show="(profile.bio !== undefined && profile.bio !== '') || (profile.landLineTelephone !== undefined && profile.landLineTelephone !== '') || (profile.mobilePhone !== undefined && profile.mobilePhone  !== '') || (profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" class="hr-xs">
              </div>
              <div ng-show="(profile.bio !== undefined && profile.bio !== '')">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{profile.bio}}
                <hr class="hr-xs">
              </div>
              <div>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Joined {{profile.startedAt | date : 'MMMM'}} {{profile.startedAt | date : 'yyyy'}}
                <hr ng-show="(profile.landLineTelephone !== undefined && profile.landLineTelephone !== '') || (profile.mobilePhone !== undefined && profile.mobilePhone  !== '') || (profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" class="hr-xs">
              </div>
              <div ng-show="profile.$images.length > 0">
                <div style="margin-bottom: 5px;"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photos</div>

                <div class="row" style="padding-left: 10px; padding-right: 10px;">
                  <div ng-repeat="image in profile.$images | reverse | limitTo: 6" class="col-xs-6 col-md-4" style="padding-right:5px; padding-left: 5px;" >
                    <img ng-click="profileImages( 'lg', $index)"  class="img-responsive thumbnail" ng-style="{ cursor: 'pointer'}" ng-src="https://res.cloudinary.com/berlin/image/upload/c_fill,h_400,q_auto:best,w_400/{{image.public_id}}.webp" style="margin-bottom: 10px;">
                  </div>
                </div>
                <hr ng-show="(profile.landLineTelephone !== undefined && profile.landLineTelephone !== '') || (profile.mobilePhone !== undefined && profile.mobilePhone  !== '') || (profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" class="hr-xs">
              </div>
              <div ng-show="(profile.landLineTelephone !== undefined && profile.landLineTelephone !== '')">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{profile.landLineTelephone}}
                <hr ng-show="(profile.mobilePhone !== undefined && profile.mobilePhone  !== '') || (profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" class="hr-xs">
              </div>
              <div ng-show="(profile.mobilePhone !== undefined && profile.mobilePhone  !== '')">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> {{profile.mobilePhone}}
                <hr ng-show="(profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" class="hr-xs">
              </div>
              <div ng-show="(profile.facebookAccount !== undefined && profile.facebookAccount !== '') || (profile.twitterAccount !== undefined && profile.twitterAccount !== '')" style="font-size: 30px;">
                <a ng-show="(profile.facebookAccount !== undefined && profile.facebookAccount !== '')" ng-href="{{profile.facebookAccount}}"><i class="fa fa-facebook-official"></i></a>
                <a ng-show="(profile.twitterAccount !== undefined && profile.twitterAccount !== '')" ng-href="https://twitter.com/{{profile.twitterAccount}}" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-lg-9">

          <div ng-show="publications.more" style="margin-bottom: 20px;">
            <button type="button" ng-click="submit(); publications.more = false;" class="btn btn-default btn-block">View {{publications.countDifference}} new Publications!</button>
          </div>

          <list-publications ng-show="profile.startedAt !== undefined" profile="profile" lording="lording" account="account" submit="submit" publications="publications"></list-publications>

        </div>
      </div>
    </div>

  </div>



</div>


<script type="text/ng-template" id="profileImagesModal.html">
  <div class="modal-body">

    <div uib-carousel active="active" interval="5000" no-wrap="false">
      <div uib-slide ng-repeat="image in profileImages | reverse  track by $index" index="$index">
        <img ng-src="https://res.cloudinary.com/berlin/image/upload/c_fill,h_800,q_auto:best,w_900/{{image.public_id}}.webp" style="margin:auto;">
        <!--<div class="carousel-caption">-->
          <!--<h4>{{image.name | removeFileExtension | noSpecialChars | capitalizeFirstChar}}</h4>-->
        <!--</div>-->
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Close</button>
  </div>
</script>



<!-- This extra line is necessary to avoid the flicking when we setting the head title use by the twitter share button, the ng-cloak directive don't work  -->
<div ng-if="profile.accountName !== undefined && profile.accountName !== ''">
  <update-title title="Look @{{profile.accountName !== undefined && profile.accountName !== ''? profile.accountName : profile.$id }} Publications in MarketOfLondon.co.uk"></update-title>
</div>

