<div class="container main">
  <div class="panel panel-default">
    <div class="panel-body">

      <!-- Description -->
      <div class="description">
        <h1>
          Firebase & Cloudinary Image Upload
          <br>
          <small>Upload to the cloud images, Using Firebase as image data holder and Cloudinary as file manager, with an Angular Directive, and Express as Server.</small>
        </h1>
      </div>

      <uib-tabset active="active">
        <uib-tab index="0">
          <uib-tab-heading>
            Basic Example
          </uib-tab-heading>

          <ng-include src="'static/assets/views/examples/basic.html'"></ng-include>

        </uib-tab>
        <uib-tab index="1">
          <uib-tab-heading>
            Modal Example
          </uib-tab-heading>

          <ng-include src="'static/assets/views/examples/modal.html'"></ng-include>

        </uib-tab>
      </uib-tabset>

    </div>
  </div>
</div>

