<div style="margin-top: 17px; margin-bottom: 10px;">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a ng-href="search?c=jobs">
          <div class="hovereffect">
            <img src="http://res.cloudinary.com/berlin/image/upload/v1472049889/jobs-banner-big-7_dqnohj.webp" class="img-responsive" alt="">
            <div class="overlay"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nopadding">
          <a ng-href="search?c=transport">
            <div class="hovereffect">
              <img src="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1472043244/transport-banner-big_twbtng.webp" class="img-responsive" alt="">
              <div class="overlay"></div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nopadding">
          <a ng-href="search?c=real-estate">
            <div class="hovereffect">
              <img src="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1472042105/realstate-banner-big_gslcob.webp" class="img-responsive" alt="">
              <div class="overlay"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12">
        <a ng-href="search?c=services">
          <div class="hovereffect">
            <img src="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1472041201/services-banner-big_yom1ve.webp" class="img-responsive" alt="">
            <div class="overlay"></div>
          </div>
        </a>
      </div>
      <div class="col-xs-12">
        <a ng-href="search?c=marketplace">
          <div class="hovereffect">
            <img src="http://res.cloudinary.com/berlin/image/upload/q_auto:low/v1472040491/markeplace-banner-big-2_kzx63g.webp" class="img-responsive" alt="">
            <div class="overlay"></div>
          </div>
        </a>
      </div>
    </div>
  </div>



</div>

<update-title title="Market of London - UK Classified Ads: Jobs, Real Estate, Transport, Services, and Marketplace related Publications"></update-title>
<!--<update-meta property="og:title" content="MarketOfLondon.co.uk - Jobs, Real Estate, Transport, Services, Marketplace related Publications"></update-meta>-->
<!--<update-meta property="og:url" content="http://www.marketoflondon.co.uk/" ></update-meta>-->
<!--<update-meta property="og:image" content="http://res.cloudinary.com/berlin/image/upload/c_scale,e_sepia:77,h_630,q_100,w_1200/v1471288313/Market_Of_London_share_image_xan9wg.jpg" ></update-meta>-->
<!--<update-meta name="twitter:title" content="MarketOfLondon.co.uk - Jobs, Real Estate, Transport, Services, Marketplace" ></update-meta>-->
<!--<update-meta name="twitter:description" content="Jobs, Real Estate, Transport, Services, Marketplace related Publications"></update-meta>-->
<!--<update-meta name="twitter:image:src" content="http://res.cloudinary.com/berlin/image/upload/c_scale,e_sepia:77,h_630,q_100,w_1200/v1471288313/Market_Of_London_share_image_xan9wg.jpg" ></update-meta>-->
<!--<update-meta name="twitter:url" content="http://www.marketoflondon.co.uk/" ></update-meta>-->