<div class="modal-body">

  <div uib-carousel active="active" interval="5000" no-wrap="false">
    <div uib-slide ng-repeat="image in profileImages | reverse  track by $index" index="$index">

      <picture>
        <source type="image/webp" ng-srcset="http://res.cloudinary.com/berlin/image/upload/c_fill,h_800,q_auto:best,w_900/{{image.public_id}}.webp">
        <img ng-src="http://res.cloudinary.com/berlin/image/upload/c_fill,h_800,q_auto:best,w_900/{{image.public_id}}.jpg" style="margin:auto;">
      </picture>

    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>