<div style="margin-top: 17px;">
  <div class="container" ng-show="!lording.isDone">
    <div cg-busy="{promise: lording.promise, message:'Just a moment'}">
      <div class="panel panel-default uk-flag-background"  style="height: 600px;">
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>

  <div ng-show="lording.isDone">

    <div class="container" >
      <div class="panel panel-default" >
        <div class="panel-body">

          <list-publications lording="lording"></list-publications>

        </div>
      </div>
    </div>

  </div>
</div>

<update-title title="MarketOfLondon.co.uk"></update-title>
<update-meta property="og:title" content="MarketOfLondon.co.uk - Jobs, Real Estate, Transport, Services, Marketplace related Publications"></update-meta>
<update-meta property="og:url" content="https://londres.herokuapp.com" ></update-meta>
<update-meta property="og:image" content="https://londres.herokuapp.com/assets/images/uk.svg" ></update-meta>
<update-meta name="twitter:title" content="MarketOfLondon.co.uk - Jobs, Real Estate, Transport, Services, Marketplace" ></update-meta>
<update-meta name="twitter:description" content="Jobs, Real Estate, Transport, Services, Marketplace related Publications"></update-meta>
<update-meta name="twitter:image:src" content="https://londres.herokuapp.com/assets/images/uk.svg" ></update-meta>
<update-meta name="twitter:url" content="https://londres.herokuapp.com" ></update-meta>