<div class="container" style="margin-top: 17px;" ng-show="!lording.isDone">
  <div cg-busy="{promise: lording.promise, message:'Just a moment'}">
    <div class="panel panel-default uk-flag-background"  style="height: 600px;">
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>

<div ng-show="lording.isDone">
  <div class="page-header"
       ng-style="{
          'margin-top':0,
          'padding':'300px 20px 10px 20px',
          'background' : (user.profileBanners.length > 0) ? 'url(\'' + 'https://res.cloudinary.com/berlin/image/upload/c_fill,h_500,w_1500/' + user.profileBanners[0].$id + '.jpg\') no-repeat center center' : 'url(\'' + 'https://pbs.twimg.com/profile_banners/192774776/1445226267/1500x500' + '\') no-repeat center center',
          '-webkit-background-size':'cover',
          '-moz-background-size':'cover',
          '-o-background-size':'cover',
          'background-size':'cover'
        }"
  >

    <div class="container">
      <h1>
        <img  ng-click="profileImages('lg')" ng-src="{{user.profileImage}}" alt="..." class="img-thumbnail img-responsive" ng-style="{cursor: (user.profileImages.length > 0) ? 'pointer' : 'default' }" >
        <span style="text-shadow: 0 0 3px rgba(0,0,0,.8); color: #fff;"> {{user.pseudonym === undefined || user.pseudonym === ''? user.names : user.pseudonym }}</span>
      </h1>
    </div>

  </div>

  <div ng-show="(user.facebookAccount !== '') || (user.landLineTelephone !== '') || (user.mobilePhone  !== '') ||  (user.twitterAccount !== '')" class="container">
    <div class="panel panel-default" >
      <div class="panel-body">

        <div ng-show="(user.landLineTelephone !== '')">
          <i class="fa fa-phone"></i> {{user.landLineTelephone}}
        </div>
        <div ng-show="(user.mobilePhone  !== '')">
          <hr class="hr-xs">
          <i class="fa fa-mobile-phone"></i> {{user.mobilePhone}}
        </div>
        <div ng-show="(user.facebookAccount !== '')">
          <hr class="hr-xs">
          <i class="fa fa-facebook-official"></i> <a ng-href="{{user.facebookAccount}}">{{user.facebookAccount}}</a>
        </div>
        <div ng-show="(user.twitterAccount !== '')">
          <hr class="hr-xs">
          <i class="fa fa-twitter"></i> <a ng-href="https://twitter.com/{{user.twitterAccount}}" target="_blank">@{{user.twitterAccount}}</a>
        </div>

      </div>
    </div>
  </div>

  <div class="container" >
    <div class="panel panel-default" >
      <div class="panel-body">

        <list-publications user="user" lording="lording"></list-publications>

      </div>
    </div>
  </div>


</div>


<script type="text/ng-template" id="profileImagesModal.html">
  <div class="modal-body">

    <uib-carousel interval="5000" no-wrap="false">
      <uib-slide ng-repeat="image in profileImages">
        <img ng-src="https://res.cloudinary.com/berlin/image/upload/c_fill,h_500,w_500/{{image.public_id}}.jpg" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{image.name | removeFileExtension | noSpecialChars | capitalizeFirstChar}}</h4>
        </div>
      </uib-slide>
    </uib-carousel>


    <!--<pre>{{profileImages | json}}</pre>-->

  </div>
</script>