<div ng-show="!publication.$isReady" class="container view-container">
  <div class="panel panel-default loading-background" cg-busy="{promise: httpRequestPromise, message:'Just a moment'}">
    <div class="panel-body">
    </div>
  </div>
</div>

<div ng-show="publication.$isReady">
  <div style="margin-bottom: 20px; border-bottom: 1px solid #959595; background: #000;">
    <div uib-carousel interval="5000" no-wrap="false" active="">
      <div uib-slide ng-repeat="image in publication.$images track by $index" index="$index">

        <picture>
          <source type="image/webp" ng-srcset="https://res.cloudinary.com/berlin/image/upload/c_fill,h_700,q_auto:best,w_1200/{{image.$id}}.webp">
          <img ng-src="https://res.cloudinary.com/berlin/image/upload/c_fill,h_700,q_auto:best,w_1200/{{image.$id}}.jpg" class="img-responsive" style="margin:auto;">
        </picture>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-default ribbonBox">
      <div ng-show="publication.data.department === 'Real Estate' && publication.data.reHomeStatus === 'New'" class="ribbon"><span>NEW HOME</span></div>
      <div class="panel-body">

        <div>
          <h3 class="panel-title" style="font-size: 25px; font-family: 'Lato', sans-serif;">
            <div>
              <span ng-bind="publication.data.title | capitalizeFirstChar"></span>
              <span ng-show="publication.data.department === 'Real Estate'"> for <span ng-bind="publication.data.reHomeFor | uppercase"></span></span>
            </div>
          </h3>

          <div class="non-printable" style="font-family: 'Lato', sans-serif;">
            Publication by <a href="/{{profile.accountName !== undefined ? profile.accountName : profile.$id }}"> <span ng-bind="profile.pseudonym === undefined || profile.pseudonym === '' ? profile.names : profile.pseudonym"></span> </a>
          </div>
        </div>

        <hr class="hr-xs">

        <div>
          <h4 ng-if="publication.data.department !== 'Services' && publication.data.department !== 'Jobs'" style="font-family: 'Lato', sans-serif;">
            Price:
            <span ng-bind="publication.data.price | currency : '£' : 2"></span>
          </h4>


          <h5 ng-if="publication.data.department === 'Marketplace'" ><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Quantity in stock: <span ng-bind="publication.data.quantity"></span></h5>
          <h4 ng-if="publication.data.department === 'Jobs'">
            Salary:
            <span ng-bind="publication.data.jobSalaryStartAt | currency : '£' : 2 "></span> - <span ng-bind="publication.data.jobSalaryEndAt | currency : '£' : 2 "></span>
            per <span ng-bind="publication.data.jobSalaryType == 'Annual' ? 'annum' : ''"></span>
            <span ng-bind="publication.data.jobSalaryType == 'Daily' ? 'day' : ''"></span>
            <span ng-bind="publication.data.jobSalaryType == 'Hourly' ? 'hour' : ''"></span>
            <span ng-bind="publication.data.jobHasBenefits ? '+ benefits' : ''"></span>
            <span ng-bind="publication.data.jobHasBonus ? '+ bonus' : ''"></span>
            (Estimated Monthly Salary <span ng-bind="publication.data.jobEstimatedMonthlySalary | currency : '£' : 2 "></span>)
          </h4>
          <h5 ng-if="publication.data.department === 'Jobs'"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> <span ng-bind="publication.data.jobType"></span></h5>
          <h5 ng-if="publication.data.department === 'Jobs'"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span ng-bind="publication.data.jobRecruiterType"></span></h5>
          <h5>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            <span ng-repeat="location in publication.data.locations"> <span ng-bind="location | capitalizeFirstChar"></span><span ng-bind="!$last ? ' • ' : ''"></span></span>
          </h5>
          <h5>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Published: <span ng-bind="publication.data.releaseDate | date:'dd'"></span>/<span ng-bind="publication.data.releaseDate | date:'MM'"></span>/<span ng-bind="publication.data.releaseDate | date:'yyyy'"></span>
          </h5>

        </div>


        <div>
          <hr class="hr-xs">
          <div style="padding-bottom: 15px;">
            <b>Description:</b>
          </div>

          <span ng-bind-html="publication.data.htmlDescription | imgResponsive | unsafe"></span>
        </div>
        <div ng-show="publication.data.department === 'Marketplace'">
          <hr class="hr-xs">
          <div style="padding-bottom: 15px;">
            <b>Warranty:</b>
          </div>

          <span ng-bind-html="publication.data.htmlWarranty | imgResponsive | unsafe"></span>
        </div>
        <div class="non-printable">
          <hr class="hr-xs">

          <div style="padding-bottom: 10px;">
            <b>Share on social networks:</b>
          </div>

          <div ng-if="publication.data.$id">
            <custom-twitter-share-button data-text="publication.data.title" data-url="'http://www.marketoflondon.co.uk/v/l/' + publication.data.$id + '/t'"></custom-twitter-share-button>
          </div>

          <div>
            <script>
              delete IN;
            </script>
            <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
            <script type="IN/Share"></script>
          </div>

          <div>
            <facebook data-url="publication.$seo.url"></facebook>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div ng-if="publication.data.title !== undefined">
  <update-title title="{{publication.data.title | capitalize | trim}}{{publication.data.department === 'Real Estate'? ' for ' + (publication.data.reHomeFor | uppercase) : ''}} - MarketOfLondon.co.uk"></update-title>
</div>
