<div class="modal-header">
  <h3 ng-switch="publication.$id" class="modal-title">
    <span ng-switch-when="true" >Do you <b>really</b> want to <b>Delete</b> this publication?</span>
    <span ng-switch-when="false" >Do you want to discard this publication?</span>
  </h3>
</div>
<div class="modal-body">

  <h3 class="text-danger" style="margin-top: 0; margin-bottom: 0;"><span ng-bind="publication.title | capitalize"></span></h3>

  <div ng-switch="publication.$id" class="alert alert-info alert-xs" style="margin-bottom: 0; margin-top: 10px;" role="alert">
    <span ng-switch-when="true" >NOTE: This action cannot be undone. <b>This information will be permanently removed</b>.</span>
    <span ng-switch-when="false" >NOTE: This action cannot be undone.</span>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="confirm()" type="submit">Confirm</button>
</div>