<div class="panel panel-default" style="margin-top: 10px; margin-bottom: 0; " ng-controller="AccountProfileController" >
  <div class="panel-body">

    <div>
      <div>
        Hi <span style="color: #F0563D;"><span ng-bind="account.profile.names | capitalize"></span> <span ng-bind="account.profile.lastNames | capitalize"></span> </span>
      </div>
    </div>
    <hr class="hr-xs">

    <div class="list-group" style="margin-bottom: 0;">
      <button type="button" class="list-group-item" ng-click="changeProfileDetails()">Extend or Change Profile Details</button>
      <button type="button" class="list-group-item" ng-click="adminProfileImages('lg')">Admin Profile Images</button>
      <button type="button" class="list-group-item" ng-click="adminProfileBanners('lg')">Admin Profile Banners</button>
    </div>

  </div>
</div>
