.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 50px 0 0;
    background: url(https://res.cloudinary.com/berlin/image/upload/q_auto:low/v1472088753/brickwall_bjshpi.jpg);
}

a:hover {
    cursor:pointer;
}

h4 {
    font-family: 'Lato', sans-serif;
}

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    margin-bottom: 10px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.page-header {
    border-bottom: 1px solid #959595;
}

/* Custom page footer */
.footer {
    color: #777;
}

.a-link {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.help-block{
    color: #a94442;
}

.has-success input {
    background: #E3FFE3;
}

.has-error input {
    background: #FFF0F4;
}

.alert-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.required, .remove {
    color: red;
}

.view-container{
    margin-top: 17px;
}

.breadcrumb{
    margin-bottom: 10px;
}

#new-publication {
    color: #337ab7;
}

#login {
    color: #337ab7;
}

#logout {
    cursor: pointer;
    color: red;
}

#logo {
    padding: 6px;
}

#navbar {
    margin-bottom: 0;
}

#publications-container{
    margin-top: 20px;
}

#loading-background-container{
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

#category-selection .panel-footer{
    text-align: right;
}
#category-selection .alert-xs{
    margin-bottom: 0;
}

#category-selection .list-group .glyphicon{
    color: #286090
}

#location-input .list-group {
    margin-bottom: 0;
}

#location-input .breadcrumb {
    margin-bottom: 0;
    margin-top: 10px;
}

.sidebar-account-publications-pseudonym {
    color: #000;
    font-size: 22px;
    font-family: sans-serif;
}

.sidebar-account-publications-account-name {
    text-shadow: 0 0 0.3px rgba(0,0,0,.8);
}

.sidebar-account-publications-profile-photos {
    padding-left: 10px;
    padding-right: 10px;
}
.sidebar-account-publications-profile-photos div {
    padding-right:5px;
    padding-left: 5px;
}

.sidebar-account-publications-info {
    border-bottom: 1px solid #D4D4D4;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

.sidebar-account-publications-info-linkedin {
    display: inline-block;
    margin-left: 4px;
}



/*!* FileUpload START *!*/
.remove-button{
    padding-top: 10px;
}
.img-preview{
    margin-bottom: 5px;
}
.file-input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}
/* FileUpload END */

.hr-xs{
    margin-top: 10px;
    margin-bottom: 10px;
}

.redactor-box {
    margin-bottom: 0;
}

#loading-bar .bar {
    background: #FF0000;
    height: 2px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #FF0000;
    border-left-color: #FF0000;
}

.photo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
}

.photo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.image-gallery {
    margin-bottom: 20px;
    border-bottom: 1px solid #959595;
    background: #000;
}

.publication-title {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.publisher {
    font-family: 'Lato', sans-serif;
}

.loading-background{
    height: 600px;
    background-size:     cover;
    background: url(https://res.cloudinary.com/berlin/image/upload/v1472088423/loading_cecchx.gif);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/* https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Raleway */
.font-raleway{
    font-family: 'Raleway', sans-serif;
}

/* https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Poiret+One */
.font-poiret-one{
    font-family: 'Poiret One', cursive;
}

.droid-sans{
    font-family: 'Droid Sans', sans-serif;
}

.input-without-focus:focus{
    outline: none;
    webkit-box-shadow:none;
    box-shadow:none;
}


/*
    http://www.bypeople.com/css-ribbon/
    http://www.cssportal.com/css-ribbon-generator/
*/
.ribbonBox {
    position: relative;
}
.ribbon {
    position: absolute;
    right: -5px; top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid #1e5799;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #1e5799;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #1e5799;
}

/*
 responsive text in button bootstrap
 http://stackoverflow.com/questions/25632331/how-to-make-bootstrap-3-button-text-responsive
*/
.responsive-width {
    font-size: 3vw;
}

/* How to Make Bootstrap 3 img logo Responsive
  https://codepen.io/bootstrapped/pen/KwYGwq
*/
.navbar-brand picture img {
    height: 95%;
    width: auto;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:pointer;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}


@media (min-width: 768px) {
    .navbar-brand>img {
        padding: 0 15px;
    }
}

@media print
{
    .non-printable { display: none; }
    .printable { display: block; }
}

.main-title h1{
    font-family: serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.main-title small{
    margin-top: 10px;
    margin-bottom: 0;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-title h2{
    margin-top: 10px;
    margin-bottom: 0;
}

@media(max-width:767px){
    .main-title h1{
        font-size: 22px;
    }
    .main-title small{
        font-size: 14px;
    }
    .main-title h2{
        font-size: 14px;
    }
}
@media(min-width:768px){
    .main-title h1{
        font-size: 24px;
    }
    .main-title small{
        font-size: 17px;
    }
    .main-title h2{
        font-size: 17px;
    }
}
@media(min-width:992px){
    .main-title h1{
        font-size: 25px;
    }
    .main-title small{
        font-size: 18px;
    }
    .main-title h2{
        font-size: 18px;
    }
}
@media(min-width:1200px){
    .main-title h1{
        font-size: 25px;
    }
    .main-title small{
        font-size: 18px;
    }
    .main-title h2{
        font-size: 18px;
    }
}
