<div style="margin-top: 10px; margin-bottom: 0; " ng-controller="AccountPublicationsController">


  <!--<div class="list-group">-->
    <!--<a ng-repeat="(publicationId, publication) in account.publications"  href="#" class="list-group-item">{{publication.title}}</a>-->
  <!--</div>-->

  <pre>{{account | json}}</pre>


  <div class="panel panel-default" ng-repeat="(publicationId, publicationDetails) in account.publications" style="margin-bottom: 10px;">
    <div class="panel-body" style="padding: 5px;">
      <div class="row">
        <div class="col-xs-4 col-md-2" style="padding-right: 5px;">
          <div>
            <a href="#" class="thumbnail" style="margin-bottom: 0;">
              <img src="assets/images/subaru.jpg" alt="...">
              <!--<cl-image public-id="publications/{{publicationDetails.featuredImageId !== '' ? publicationDetails.featuredImageId }}" class="inline" format="jpg">-->
                <!--<cl-transformation height="150" width="150" crop="fill"  radius="20"/>-->
              <!--</cl-image>-->
            </a>
          </div>
          <div ng-switch="publicationDetails.type" style="margin-top: 2px;">
            <span ng-switch-when="market" class="label label-info">Product Market - <i class="fa fa-shopping-cart"></i></span>
            <span ng-switch-when="jobs" class="label label-info">Job - <i class="fa fa-briefcase"></i></span>
            <span ng-switch-when="realEstate" class="label label-info">Real Estate - <i class="fa fa-home"></i></span>
            <span ng-switch-when="transport" class="label label-info">Transport - <i class="fa fa-rocket"></i></span>
            <span ng-switch-when="services" class="label label-info">Service - <i class="fa fa-wrench"></i></span>
          </div>
        </div>
        <div class="col-xs-8 col-md-10" style="padding-left: 0;">
          <div>
            <b>{{publicationDetails.title}}</b>
          </div>
          <hr style="margin-top: 5px; margin-bottom: 5px;">
          <div>
            {{publicationDetails.description | htmlToPlaintext}}
            <!--{{Object.keys(publicationDetails.images)}}-->


          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer" style="padding: 5px; text-align: right">
      <button type="button" class="btn btn-warning btn-xs">Edit</button>
      <button type="button" class="btn btn-primary btn-xs">View</button>
    </div>
  </div>

  <!--<pre>{{account.publications | json}}</pre>-->




 <section style="display: none;">
   <ul>
     <li>
       Market - Price range <i class="fa fa-shopping-cart"></i>
     </li>
     <li>
       Jobs - Salaries <i class="fa fa-briefcase"></i>
     </li>
     <li>
       Real Estate - Price range <i class="fa fa-home"></i>
     </li>
     <li>
       Transport - Price range <i class="fa fa-rocket"></i>
     </li>
     <li>
       Services<i class="fa fa-gavel"></i>
     </li>
   </ul>

   <div class="well well-sm" style="margin-bottom: 10px;">

     <li>Categories</li>
     <li>Location</li>
     <li>Salaries </li>
     <li>O refined by 'características de la publicación'</li>

   </div>
   <div class="well well-sm" style="margin-bottom: 10px;">
     <li>Categories</li>
     <li>Location</li>
     <li>Price range</li>
     <li>O refined by 'características de la publicación'</li>
   </div>

   <input type="text" class="form-control" placeholder="Search">
   <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin-bottom: 5px; margin-top: 10px;"></uib-pagination>

   <div class="panel panel-default" style="margin-bottom: 10px;">
     <div class="panel-heading">
       Front End Developer / JavaScript Developer (Angular.js jQuery TDD) for an award winning fintech start-up that has been revolutionising business lending. £60-£70K
     </div>
     <div class="panel-body" style="padding: 10px">

       <div class="row">
         <div class="col-xs-4">
           <a href="#" class="thumbnail" style="margin-bottom: 0;" >
             <img src="assets/images/nasa.png" alt="...">
           </a>
         </div>
         <div class="col-xs-8">
           <div class="caption">
             <p>
               As a skilled Front End Developer you will use JavaScript, Angular.js and semantic HTML to design and develop clear, concise and user friendly interfaces for the core web based product.
             </p>
           </div>
         </div>
       </div>
     </div>
     <div class="panel-footer">
       <a href="#" class="btn btn-warning" role="button">Edit</a>
       <a href="#" class="btn btn-primary" role="button">View</a>
     </div>
   </div>

   <div class="panel panel-default" style="margin-bottom: 10px;">
     <div class="panel-heading">
       Front End Developer / JavaScript Developer (Angular.js jQuery TDD) for an award winning fintech start-up that has been revolutionising business lending. £60-£70K
     </div>
     <div class="panel-body" style="display: none;">

       <div class="row">
         <div class="col-xs-4">
           <a href="#" class="thumbnail" style="margin-bottom: 0;" >
             <img src="assets/images/nasa.png" alt="...">
           </a>
         </div>
         <div class="col-xs-8">
           <div class="caption">
             <p>
               As a skilled Front End Developer you will use JavaScript, Angular.js and semantic HTML to design and develop clear, concise and user friendly interfaces for the core web based product.
             </p>
           </div>
         </div>
       </div>
     </div>
     <div class="panel-footer">
       <a href="#" class="btn btn-warning" role="button">Edit</a>
       <a href="#" class="btn btn-primary" role="button">View</a>
     </div>
   </div>

   <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin: 0;"></uib-pagination>

 </section>

</div>
