<div style="margin-top: 10px; margin-bottom: 0; ">
  <uib-tabset>
    <uib-tab>
      <tab-heading>
        Market <i class="fa fa-shopping-cart"></i>
      </tab-heading>

      <ng-include src="'assets/views/account/publicationsType/market.html'"></ng-include>

    </uib-tab>
    <uib-tab>
      <tab-heading>
        Jobs <i class="fa fa-briefcase"></i>
      </tab-heading>

      <ng-include src="'assets/views/account/publicationsType/jobs.html'"></ng-include>

    </uib-tab>
    <uib-tab>
      <tab-heading>
        Real Estate <i class="fa fa-home"></i>
      </tab-heading>

      <ng-include src="'assets/views/account/publicationsType/realEstate.html'"></ng-include>

    </uib-tab>
    <uib-tab>
      <tab-heading>
        Transport <i class="fa fa-rocket"></i>
      </tab-heading>

      <ng-include src="'assets/views/account/publicationsType/transport.html'"></ng-include>

    </uib-tab>
    <uib-tab>
      <tab-heading>
        Services <i class="fa fa-gavel"></i>
      </tab-heading>

      <ng-include src="'assets/views/account/publicationsType/services.html'"></ng-include>

    </uib-tab>
  </uib-tabset>
</div>
