<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account</h3>
  </div>
  <div class="panel-body">


    <uib-tabset>
      <uib-tab heading="Profile">

        <div class="panel panel-default" style="margin-top: 50px; margin-bottom: 0; " >
          <div class="panel-body">

            <div style="text-align: center; margin-top: -60px;">
              <div class="photo" style="padding: 4px; border: solid 1px #A0A0A0; background: #FFFFFF;">
                <img ng-src="{{user.password.profileImageURL}}" alt="avatar">
              </div>
              <div>
                Hi <span style="color: #F0563D;">Romel Gomez</span>
              </div>
            </div>
            <hr style="margin-top: 10px; margin-bottom: 10px;">

            <div class="list-group" style="margin-bottom: 0;">
              <button type="button" class="list-group-item" ng-click="changeProfileDetails()">Extend or Change Profile Details</button>
              <button type="button" class="list-group-item" ng-click="changePassword()">Change Password</button>
              <button type="button" class="list-group-item" ng-click="changeEmail()">Change Email</button>
            </div>

          </div>
          <div class="panel-footer">
            <b>NOTE:</b> Change the Profile Image in <a href="http://www.gravatar.com/" target="_blank">Gravatar.com</a>
          </div>
        </div>

      </uib-tab>
      <uib-tab heading="Billing">
        <div style="margin-top: 10px;">
          $$$$
        </div>
      </uib-tab>
    </uib-tabset>

  </div>
</div>

<script type="text/ng-template" id="changeProfileDetailsModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Extend or Change Profile Details</h3>
  </div>
  <div class="modal-body" cg-busy="{promise:httpRequestPromise,message:'Un momento'}">

    <form id="profileDetails" name="forms.profileDetails" novalidate="" ng-submit="submit()">

      <div class="form-group" ng-class="{'has-success has-feedback': (forms.register.$submitted && forms.register.names.$valid),'has-error has-feedback': (forms.register.$submitted && forms.register.names.$invalid) }">
        <label class="control-label"> Names <sup style="color: red;">*</sup></label>
        <input type="text" name="names" ng-model="model.register.names" required class="form-control" placeholder="">
        <span ng-show="forms.register.$submitted" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': (forms.register.names.$valid),'glyphicon-remove': ( forms.register.names.$invalid) }" aria-hidden="true"></span>
        <div data-ng-messages="forms.register.$submitted && forms.register.names.$error" class="help-block">
          <div data-ng-message="required">
            - The <b>names</b> are required.
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{'has-success has-feedback': (forms.register.$submitted && forms.register.lastNames.$valid),'has-error has-feedback': (forms.register.$submitted && forms.register.lastNames.$invalid) }">
        <label class="control-label"> Last Names <sup style="color: red;">*</sup></label>
        <input type="text" name="lastNames" ng-model="model.register.lastNames" required class="form-control" placeholder="">
        <span ng-show="forms.register.$submitted" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': (forms.register.lastNames.$valid),'glyphicon-remove': ( forms.register.lastNames.$invalid) }" aria-hidden="true"></span>
        <div data-ng-messages="forms.register.$submitted && forms.register.lastNames.$error" class="help-block">
          <div data-ng-message="required">
            - The <b>Last Names</b> are required.
          </div>
        </div>
      </div>

    </form>

    <pre>{{}}</pre>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button form="profileDetails" class="btn btn-primary" type="submit">Save</button>
  </div>
</script>




<pre>{{user | json}}</pre>
<pre>{{user.password.profileImageURL}}</pre>

<div class="row-fluid">
<div class="{{user.provider === 'password'? 'col-md-4' : 'col-md-12'}}">
  <h3>Profile</h3>

  <form role="form">
    <p class="form-group">
      <label>Account ID</label>
      <br />{{user.uid}}
    </p>

    <p class="form-group">
      <label>Name:</label>
      <input type="text" name="name" ng-model="profile.name" class="form-control" />
    </p>

    <p class="form-group">
      <label>Email:</label>
      <br />{{profile.email}}
    </p>
  </form>

  <p>
    <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
  </p>
</div>

<div class="col-md-4" ng-show="{{user.provider === 'password'}}">
<form role="form">
  <h3>Change Password</h3>

  <p class="form-group">
    <label>Old Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
  </p>

  <p class="form-group">
    <label>Confirm New Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

  <p class="error" ng-show="err">{{err}}</p>
  <p class="good" ng-show="msg">{{msg}}</p>
</form>
</div>

<div class="col-md-4" ng-show="{{user.provider === 'password'}}">
<form>
  <h3>Change Email</h3>

  <p class="form-group">
    <label>New Email:</label>
    <input type="text" ng-keypress="clear()" ng-model="newEmail" class="form-control" />
  </p>

  <p class="form-group">
    <label>Password:</label>
    <input type="password" ng-keypress="clear()" ng-model="pass" class="form-control" />
  </p>

  <button class="btn btn-primary" ng-click="changeEmail(pass, newEmail)">update email</button>
</form>
</div>

</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
