<section cg-busy="{promise:httpRequestPromise,message:'Just a moment'}">

  <div class="panel panel-default" ng-show="categoryExpected === false">
    <div class="panel-heading">
      <h3 class="panel-title">New Publication - Select a category:</h3>
    </div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="setCategory(node.$id)" ng-repeat="node in treeNodes | filter:{parentId: (model.categoryId) ? model.categoryId: ''}:true" ><i style="color: #286090" class="fa fa-folder"></i> {{node.name | capitalizeFirstChar}}</button>
    </div>
    <div class="panel-body">

      <ol class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-click="model.categoryId =''; path =[];" ng-class="{'a-link': path.length > 0}" > Home </li>
        <li ng-repeat="node in path" ng-click="setCategory(node.$id)" ng-class="{'a-link': !$last}"> {{node.name | capitalizeFirstChar}} </li>
      </ol>

      <div class="alert alert-info alert-xs" style="margin-bottom: 0;" role="alert">NOTE: Select the category that best suits to the publication. No matter if it is too general or specific, the important thing is to select one.</div>

    </div>
    <div class="panel-footer" style="text-align: right;">
      <input ng-click="categoryExpected = true" type="button" class="btn btn-primary" ng-disabled="model.categoryId ===''" value="Confirm selection" >
    </div>
  </div>

  <div class="panel panel-default" ng-show="categoryExpected">
    <div class="panel-heading">
      <h3 class="panel-title">New Publication</h3>
    </div>
    <div class="panel-body">

      <ol class="breadcrumb" style="margin-bottom: 7px;">
        <li> Home </li>
        <li ng-repeat="node in path"> {{node.name | capitalizeFirstChar}} </li>
      </ol>

      <form name="publicationForm" novalidate="" ng-submit="submit()">

        <div>
          <button ng-click="categoryExpected = false; model.categoryId =''; path =[];" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit category</button>
          <button ng-show="publicationId !== ''" class="btn btn-primary"	type="submit" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Update</button>
          <button ng-show="publicationId === ''" class="btn btn-primary"	type="submit" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>
          <button ng-click="discard()" class="btn btn-warning"	type="button" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Discard</button>
        </div>

        <div ng-show="model.files.length === 0 && publicationId !== ''" class="alert alert-danger alert-xs" style="margin-bottom: 0; margin-top: 10px;" role="alert">NOTE: The images are mandatory, if the publication does not have at least one image, the publication will not be displayed to the clients.</div>

        <hr>

        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-bookmark"></span> Title <sup style="color: red;">*</sup></label>
          <input type="text" name="title" ng-model="model.title" required minlength="7" capitalize class="form-control" placeholder="">
          <div data-ng-messages="publicationForm.$submitted && publicationForm.title.$error" class="help-block">
            <div data-ng-message="required">
              - The <b>title</b> is required.
            </div>
            <div data-ng-message="minlength" >
              - The <b>title</b> must be at least 7 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-book"></span> Description <sup style="color: red;">*</sup></label>
          <textarea redactor name="description" data-ng-model="model.description" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="publicationForm.$submitted && publicationForm.description.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>description</b> is required.
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'" >
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><span class="glyphicon glyphicon-tag"></span> Price <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input name="price" ng-model="model.price" required class="form-control" placeholder="Eje: 1000" type="number">
              </div>
              <div data-ng-messages="publicationForm.$submitted && publicationForm.price.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>price</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><i class="fa fa-cubes"></i> Quantity in stock <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">Units</div>
                <input name="quantity" ng-model="model.quantity" required class="form-control" placeholder="Eje: 100" type="number">
              </div>
              <div data-ng-messages="publicationForm.$submitted && publicationForm.quantity.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>quantity</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <div class="row">
            <div class="col-xs-4">
              <label><i class="fa fa-barcode"></i> Barcode</label>
              <input name="barcode" ng-model="model.barcode" class="form-control" placeholder="" type="text">
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <label class="control-label"><i class="fa fa-certificate"></i> Warranty <sup style="color: red;">*</sup></label>
          <textarea redactor name="warranty" data-ng-model="model.warranty" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="publicationForm.$submitted && publicationForm.warranty.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>Warranty</b> is required.
            </div>
          </div>
        </div>

        <hr class="hr-xs">

        <button class="btn btn-primary"
                ngf-select data-ng-model="model.files"
                name="files"
                data-ngf-multiple="true"
                data-accept="image/*"
                data-ngf-keep="true"
                data-ngf-keep-distinct="true"
                data-ngf-validate="{size: {max: '10MB'}, width: {min: 500, max:5000}, height: {min: 500, max: 5000}}"
                data-ngf-validate-force="true"
                required>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Select the images</button>

        <button ng-show="imagesInfo().inQueue > 0" type="button" class="btn btn-danger" ng-click="removeAllQueueFiles()"><span class="glyphicon glyphicon-trash"></span> Remove in queue</button>
        <button ng-show="imagesInfo().inServer > 0" type="button" class="btn btn-danger" ng-click="deleteAllPublicationImages()"><span class="glyphicon glyphicon-trash"></span> Remove in server</button>
        <button ng-show="imagesInfo().invalid > 0" type="button" class="btn btn-danger" ng-click="removeInvalidFiles()"><span class="glyphicon glyphicon-trash"></span> Remove invalid</button>


        <div data-ng-messages="publicationForm.$submitted && publicationForm.files.$error" class="help-block">
          <div data-ng-message="required" >
          - The <b>Images</b> are required.
          </div>
        </div>

        <div data-ng-messages="publicationForm.files.$error" class="help-block">
          <div data-ng-message="minHeight" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxHeight" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="minWidth" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxWidth" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxSize" >
          - Some image(s) exceeds the Maximum Size of 10MB.
          </div>
        </div>

        <!--<ul>-->
          <!--<li>publicationForm.files.$error: {{publicationForm.files.$error | json}}</li>-->
          <!--<li>publicationForm.files.$error.required: {{publicationForm.files.$error.required | json}}</li>-->
          <!--<li>inQueue: {{imagesInfo().inQueue}}</li>-->
          <!--<li>inServer: {{imagesInfo().inServer}}</li>-->
          <!--<li>invalid: {{imagesInfo().invalid}}</li>-->
        <!--</ul>-->

        <!--Todo:  Delete from the queue , -->

        <div ng-show="model.files.length > 0">
          <div>
            <ul>
              <li>Images in queue to upload: <span class="badge">{{imagesInfo().inQueue}}</span></li>
              <li>Images in server: <span class="badge">{{imagesInfo().inServer}}</span></li>
              <li>Images invalid: <span class="badge">{{imagesInfo().invalid}}</span></li>
            </ul>
          </div>
          <div ng-repeat="(key, value) in model.files">

            <hr class="hr-xs">
            <!--<pre>{{value | json}}</pre>-->

            <hr class="hr-xs">

            <div ng-show="!value.$error">
              <div><img class="img-thumbnail img-preview" ng-src="{{value.blobUrl || '/images/loading.jpeg'}}" alt="{{value.name}}"></div>
              <div class="file-name"><b>Name: </b>{{value.name}}</div>
              <div><b>Size: </b>{{value.size | bytes}}</div>
              <div style="margin-bottom: 5px;"><b>Status: </b><span class="label label-default" ng-class="{'label-primary':(value.inServer)}">{{value.inServer ? 'In server' : 'In queue' }}</span></div>
              <div><button class="btn btn-danger btn-xs" type="button" ng-click="removeFile(key,value)" ><span class="glyphicon glyphicon-trash"></span> Remove</button></div>
            </div>

            <div ng-show="value.$error" class="bg-warning" style="padding: 7px;">
              <div><img class="img-thumbnail img-preview" ng-src="{{value.blobUrl || '/images/loading.jpeg'}}" alt="{{value.name}}"></div>
              <h3 class="text-warning" style="margin-bottom: 0; margin-top: 4px">Invalid image</h3>
              <div class="file-name">
                <b>Name: </b>{{value.name}}
              </div>
              <div style="margin-bottom: 3px;"><b>Reason: </b>
                <span ng-switch="value.$error">
                  <span ng-switch-when="minHeight">Does not meet the minimum height of 500px.</span>
                  <span ng-switch-when="maxHeight">Does not meet the maximum height of 5000px.</span>
                  <span ng-switch-when="minWidth">Does not meet the minimum width of 500px.</span>
                  <span ng-switch-when="maxWidth">Does not meet the maximum width of 5000px.</span>
                  <span ng-switch-when="maxSize">Exceeds the Maximum Size of 10MB.</span>
                  <span ng-switch-default>Undefined</span>
                </span>
              </div>
              <div style="margin-bottom: 3px"><b>Size:</b> {{value.size | bytes}}</div>
              <button class="btn btn-danger btn-xs" type="button" ng-click="removeFile(key,value)" ><span class="glyphicon glyphicon-trash"></span> Remove</button>
            </div>

          </div>
        </div>

      </form>

      <hr class="hr-xs">
      <div class="alert alert-info alert-xs" style="margin-bottom: 0;" role="alert">NOTE: This superscript <sup style="color: red;">*</sup> mean that, is required.</div>

    </div>
  </div>


  <!--<pre>{{model.type | json}}</pre>-->
  <!--<pre>{{model | json}}</pre>-->
  <!--<pre>{{publicationForm | json}}</pre>-->

</section>
