<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Front End Developer / JavaScript Developer (Angular.js jQuery TDD) for an award winning fintech start-up that has been revolutionising business lending. £60-£70K</h3>
  </div>
  <div class="panel-body">


    <div ng-controller="CarouselDemoCtrl">
      <div style="height: 305px">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>



  </div>
</div>

