<div style="margin-top: 10px; margin-bottom: 0; " ng-controller="AccountPublicationsController">

  <input type="text" ng-model="algolia.req.query" class="form-control" placeholder="Search">

  <hr>

  <div class="list-group">
    <button type="button" class="list-group-item" ng-click="algolia.faceting.addFacet(facet)" ng-repeat="facet in algolia.faceting.facetsAvailables" ><i style="color: #286090" class="fa fa-folder"></i> {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span></button>
  </div>

  <ol ng-show="algolia.faceting.currentFacets.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
    <li ng-click="algolia.faceting.removeAllFacet()" class="a-link"> Reset </li>
    <li ng-repeat="facet in algolia.faceting.currentFacets" ng-click="algolia.faceting.removeFacet(facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
  </ol>

  <hr>

  <div ng-show="(algolia.res.query !== '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert">There is not publications for this query: <b>{{algolia.res.query}}</b>, <a href="#/new-publication">create new one here!</a>  </div>
  <div ng-show="(algolia.res.query === '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert">There is not publications, <a href="#/new-publication">create new one here!</a>  </div>

  <pre ng-show="algolia.res.nbPages > 0">Page: {{algolia.pagination.currentPage}} / {{algolia.res.nbPages}}</pre>

  <uib-pagination ng-show="algolia.res.nbHits > algolia.pagination.itemsPerPage" ng-change="algolia.pagination.pageChanged()" total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.pagination.itemsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></uib-pagination>

  <!--<uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages2" items-per-page="itemsPerPage"></uib-pagination>-->

  <div class="panel panel-default" ng-repeat="publication in algolia.res.hits" style="margin-bottom: 10px;">
    <div class="panel-body" style="padding: 5px;">
      <div class="row">
        <div class="col-xs-4 col-md-2" style="padding-right: 5px;">
          <div>
            <a href="#" class="thumbnail" style="margin-bottom: 0;">

              <img ng-show="sizeOf(publication.images) === 0" src="assets/images/subaru.jpg" alt="...">

              <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline" format="jpg">
                <cl-transformation height="150" width="150" crop="fill"  radius="20"/>
              </cl-image>

            </a>
          </div>
          <div ng-switch="publication.department" style="margin-top: 2px;">
            <span ng-switch-when="Marketplace" class="label label-info">Product Market - <i class="fa fa-shopping-cart"></i></span>
            <span ng-switch-when="Jobs" class="label label-info">Job - <i class="fa fa-briefcase"></i></span>
            <span ng-switch-when="Real Estate" class="label label-info">Real Estate - <i class="fa fa-home"></i></span>
            <span ng-switch-when="Transport" class="label label-info">Transport - <i class="fa fa-rocket"></i></span>
            <span ng-switch-when="Services" class="label label-info">Service - <i class="fa fa-wrench"></i></span>
          </div>
        </div>
        <div class="col-xs-8 col-md-10" style="padding-left: 0;">
          <div>
            <!--<b>{{publication.title}}</b>-->

            <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span>
          </div>
          <hr style="margin-top: 5px; margin-bottom: 5px;">
          <div>
            {{publication.description}}
            <!--<pre>{{publication | json}}</pre>-->

          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer" style="padding: 5px; text-align: right">
      <button type="button" class="btn btn-warning btn-xs" ng-click="editPublication(publication.objectID)">Edit</button>
      <button type="button" class="btn btn-primary btn-xs" ng-click="viewPublication(publication.objectID)" >View</button>
    </div>
  </div>


  <hr>
  <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Raw Results</button>
  <div uib-collapse="isCollapsed">
    <hr>
    <pre>{{algolia.res | json}}</pre>
  </div>

</div>
