<div class="panel panel-default">
  <div class="panel-heading">Debug</div>
  <div class="panel-body">

    <file-upload files="formFiles"></file-upload>

    <hr>
    <button ng-click="removeAllQueueFiles()" class="btn btn-danger">Remove All Queue Files</button>
    <hr>

    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in queueFiles">
          <div class="thumbnail">
            <img class="img-preview" ng-src="{{value.preview}}" alt="{{value.fileName}}">
            <div class="caption">
              <div class="file-name">{{value.fileName}}</div>
              <div >{{value.fileSize | bytes}}</div>
              <div class="remove-button">
                <button ng-click="removeFileFromTheQueueFiles(key)" class="btn btn-danger">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/ng-template" id="fileUpload.html">
  <input type="file" multiple="multiple" accept="image/*">
</script>
