<div class="panel panel-default">
  <div class="panel-heading">Debug</div>
  <div class="panel-body">

    <button file-upload-trigger class="btn btn-primary">Select the images from the computer</button>

    <file-upload files="formFiles" file-input-element="fileInputElement"></file-upload>

    <section ng-show="queueFilesLength() > 0">
      <hr>
      <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-danger" ng-click="removeAllQueueFiles()">Remove All Queue Images</button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" ng-click="uploadFiles()">Start Upload Images</button>
        </div>
      </div>
      <hr>

      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4" ng-repeat="(key, value) in queueFiles">
            <div class="thumbnail">
              <img class="img-preview" ng-src="{{value.preview}}" alt="{{value.fileName}}">
              <div class="caption">
                <div class="file-name">{{value.fileName}}</div>
                <div >{{value.fileSize | bytes}}</div>
                <div class="remove-button">
                  <button ng-click="removeFileFromTheQueueFiles(key)" class="btn btn-danger">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</div>

<script type="text/ng-template" id="fileUpload.html">
  <input type="file" multiple="multiple" accept="image/*" class="file-input">
</script>

