<section cg-busy="{promise:httpRequestPromise,message:'Just a moment'}">

  <div class="panel panel-default" style="display: none;">
    <div class="panel-heading">Debug</div>
    <div class="panel-body">


    </div>
  </div>


  <div class="panel panel-default" ng-show="categoryExpected === false">
    <div class="panel-heading">
      <h3 class="panel-title">Seleccione una categoría:</h3>
    </div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="setCategory(node.$id)" ng-repeat="node in treeNodes | filter:{parentId: (model.categoryId) ? model.categoryId: ''}:true" ><i style="color: #286090" class="fa fa-folder"></i> {{node.name | capitalizeFirstChar}}</button>
    </div>
    <div class="panel-body">

      <ol class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-click="model.categoryId =''; path =[];" ng-class="{'a-link': path.length > 0}" > Home </li>
        <li ng-repeat="node in path" ng-click="setCategory(node.$id)" ng-class="{'a-link': !$last}"> {{node.name | capitalizeFirstChar}} </li>
      </ol>

      <small>
        NOTAS:
        <ul>
          <li>Seleccione la categoría que mejor se adapte a la publicación. No importa si es muy general o específica, lo importante es que seleccione una.</li>
          <li>Seleccionar una categoría específica es preferible ya que permitirá al usuario filtrar con mayor eficacia las publicaciones, sin embargo si la categoría específica no está disponible, seleccione una categoría general.</li>
        </ul>
      </small>

    </div>
    <div class="panel-footer" style="text-align: right;">
      <button ng-click="categoryExpected = true" type="button" class="btn btn-primary" ng-disabled="model.categoryId ===''" >Confirm selection</button>
    </div>
  </div>

  <div class="panel panel-default" ng-show="categoryExpected">
    <div class="panel-heading">
      <h3 class="panel-title">New Publication</h3>
    </div>
    <div class="panel-body">

      <ol class="breadcrumb" style="margin-bottom: 7px;">
        <li> Home </li>
        <li ng-repeat="node in path"> {{node.name | capitalizeFirstChar}} </li>
      </ol>

      <button ng-click="categoryExpected = false; model.categoryId =''; path =[];" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit category</button>
      <button form="form" class="btn btn-primary"	type="submit" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Publish</button>
      <button class="btn btn-warning"	type="button" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Discard</button>
      <hr>

      <!--<button id="update"   type="button" class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</button>-->
      <!--<button type="button" class="btn btn-default publication-status-button"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>-->
      <!--<button type="button" class="btn btn-default publication-status-button"><span class="glyphicon glyphicon-play"></span> Enable</button>-->
      <!--<button id="delete"   class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>-->

      <!--<button  class="btn btn-primary" type="submit">Enviar</button>-->
      <!--<div id="debugTime" style="padding-top: 10px; ">The publication was updated at <span id="lastTimeSave"></span> (Minutes <span id="minutesElapsed">0</span> ago)</div>-->
      <!--<div id="debugTime" style="padding-top: 10px; ">The draft was updated at <span id="lastTimeSave"></span> (Minutes <span id="minutesElapsed">0</span> ago)</div>-->

      <form id="form" name="form" novalidate="" ng-submit="submit()">
        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-bookmark"></span> Title <sup style="color: red;">*</sup></label>
          <input type="text" name="title" ng-model="model.title" required minlength="7" class="form-control" placeholder="">
          <div data-ng-messages="form.$submitted && form.title.$error" class="help-block">
            <div data-ng-message="required">
              - The <b>title</b> is required.
            </div>
            <div data-ng-message="minlength" >
              - The <b>title</b> must be at least 7 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-book"></span> Description <sup style="color: red;">*</sup></label>
          <textarea redactor name="description" ng-model="model.description" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="form.$submitted && form.description.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>description</b> is required.
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'" >
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><span class="glyphicon glyphicon-tag"></span> Price <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input name="price" ng-model="model.price" required class="form-control" placeholder="Eje: 1000" type="number">
              </div>
              <div data-ng-messages="form.$submitted && form.price.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>price</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><i class="fa fa-cubes"></i> Quantity in stock <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">Units</div>
                <input name="quantity" ng-model="model.quantity" required class="form-control" placeholder="Eje: 100" type="number">
              </div>
              <div data-ng-messages="form.$submitted && form.quantity.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>quantity</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <div class="row">
            <div class="col-xs-4">
              <label><i class="fa fa-barcode"></i> Barcode</label>
              <input name="barcode" ng-model="model.barcode" class="form-control" placeholder="" type="text">
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="model.type === 'market'">
          <label class="control-label"><i class="fa fa-certificate"></i> Warranty <sup style="color: red;">*</sup></label>
          <textarea redactor name="warranty" ng-model="model.warranty" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="form.$submitted && form.description.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>Warranty</b> is required.
            </div>
          </div>
        </div>

        <hr>

        <div class="btn-group" role="group" aria-label="..." ng-show="!inQueue() > 0" >
          <button class="btn btn-primary" ngf-select ng-model="model.files" name="files" ngf-multiple="true" accept="image/*" ngf-keep="true" ngf-keep-distinct="true" ngf-max-size="10MB" ngf-min-height="200" ngf-min-width="200" ngf-validate-force="true" required><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Select the images from the computer</button>
        </div>

        <div class="btn-group" role="group" aria-label="..." ng-show="inQueue() > 0">
          <button class="btn btn-primary" ngf-select ng-model="model.files" name="files" ngf-multiple="true" accept="image/*" ngf-keep="true" ngf-keep-distinct="true" ngf-max-size="10MB" ngf-min-height="200" ngf-min-width="200" ngf-validate-force="true" required><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Select the images from the computer</button>
          <button type="button" class="btn btn-danger" ng-click="model.files = []"><span class="glyphicon glyphicon-trash"></span> Remove All Queue Images</button>
        </div>

        <div data-ng-messages="form.$submitted && form.files.$error" class="help-block">
          <div data-ng-message="required" >
          - The <b>Images</b> are required.
          </div>
        </div>

        <!--Todo:  Delete from the queue -->

        <div ng-show="model.files.length > 0">
          <table class="table">
            <caption>Images in queue to upload: {{inQueue()}}</caption>
            <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, value) in model.files">
              <td>
                <div class="file-name">{{value.name}}</div>
                <div><img class="img-thumbnail img-preview" ng-src="{{value.blobUrl || '/images/loading.jpeg'}}" alt="{{value.name}}"></div>
              </td>
              <td><div>{{value.size | bytes}}</div></td>
              <td>{{ value.$error }}</td>
              <td><span class="label label-default" ng-class="{'label-primary':(value.inServer)}">{{value.inServer ? 'In server' : 'In queue' }}</span></td>
              <td><button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove  -- key: {{key}} -- </button></td>
            </tr>
            </tbody>
          </table>
        </div>


        <!--<button ngf-select ng-model="file7" name="file7" accept="image/*" ngf-keep="true" ngf-max-size="10MB" ngf-min-height="200" ngf-min-width="200" ngf-validate-force="true" required>Upload one file</button>-->

        <!--<li ng-repeat="(key, value) in file7">-->
            <!--{{key}} - {{value}}-->
          <!--<img ngf-src="value.blobUrl || 'images/loading.jpeg'">-->
        <!--</li>-->



        <!--Image thumbnail: <img ngf-src="file7 || 'images/loading.jpeg'">-->

        <!--<div data-ng-messages="form.$submitted && form.file7.$error" class="help-block">-->
          <!--<div data-ng-message="required" >-->
            <!--- The <b>Imagen</b> is required.-->
          <!--</div>-->
        <!--</div>-->

        <!--<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required>-->
        <!--<img ng-show="form.file.$valid" ngf-src="!picFile.$error && picFile" class="thumb">-->

        <!--<h1>myFile</h1>-->
        <!--<input type="file" ngf-select ng-model="myFile" name="myFile" accept="image/*" ngf-max-size="2MB" required>-->
        <!--<img ng-show="form.myFile.$valid" ngf-src="!myFile.$error && myFile" class="thumb">-->

        <!--<hr>-->

        <!--<button type="file" ngf-select ng-model="fileTest" name="fileTest" accept="image/*" ngf-max-size="10MB" ngf-min-height="200" ngf-min-width="200" ngf-validate-force="true" required>Upload one file</button>-->
        <!--<img ng-show="form.fileTest.$valid" ngf-src="!fileTest.$error && fileTest" class="thumb">-->

        <!--<div>Name: {{fileTest.name}}</div>-->
        <!--<div>Size: {{fileTest.size}}</div>-->

        <!--<hr>-->

      </form>

      <!--<pre>{{model | json}}</pre>-->
      <!--<pre>{{form | json}}</pre>-->

      <!--<hr>-->

      <!--<button file-upload-trigger class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Select the images from the computer</button>-->

      <!--<file-upload></file-upload>-->

      <!--<div ng-show="filesLength() > 0">-->
        <!--<div ng-show="queueFiles()">-->
          <!--<hr>-->
          <!--<div class="btn-toolbar" role="toolbar" aria-label="...">-->
            <!--<div class="btn-group" role="group" aria-label="...">-->
              <!--<button type="button" class="btn btn-danger" remove-queue-files><span class="glyphicon glyphicon-trash"></span> Remove All Queue Images</button>-->
            <!--</div>-->
            <!--<div class="btn-group" role="group" aria-label="...">-->
              <!--<button type="button" class="btn btn-primary" ng-click="uploadFiles()"><span class="glyphicon glyphicon-upload"></span> Start Upload Images</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<hr>-->

        <!--<table class="table">-->
          <!--<caption>Queue length: -</caption>-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th width="50%">Name</th>-->
            <!--<th>Size</th>-->
            <!--<th>Progress</th>-->
            <!--<th>Status</th>-->
            <!--<th>Actions</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr ng-repeat="(key, value) in files">-->
            <!--<td cg-busy="{promise:progressInstances[key],message:'Just a moment'}">-->
              <!--<div class="file-name" style="width: 200px">{{value.fileName}}</div>-->
              <!--<div><img class="img-thumbnail img-preview" ng-src="{{value.preview || '/images/loading.jpeg'}}" alt="{{value.fileName}}"></div>-->
            <!--</td>-->
            <!--<td><div >{{value.fileSize | bytes}}</div></td>-->
            <!--<td>-</td>-->
            <!--<td><span class="label label-default" ng-class="{'label-primary':(value.inServer)}">{{value.inServer ? 'In server' : 'In queue' }}</span></td>-->
            <!--<td><button remove-file="{{key}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Remove</button></td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->

      <!--</div>-->

      <hr>
      <div class="alert alert-info alert-xs" style="margin-bottom: 0;" role="alert">NOTE: This superscript <sup style="color: red;">*</sup> mean that, is required.</div>

    </div>
  </div>


  <!--<pre>{{model.type | json}}</pre>-->
  <!--<pre>{{model | json}}</pre>-->
  <!--<pre>{{form | json}}</pre>-->

</section>
