<div style="margin-top: 10px; margin-bottom: 0; ">

  <div class="well well-sm" style="margin-bottom: 10px;">

    <li>Categories</li>
    <li>Location</li>
    <li>Salaries </li>
    <li>O refined by 'características de la publicación'</li>

  </div>
  <input type="text" class="form-control" placeholder="Search">
  <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin-bottom: 5px; margin-top: 10px;"></uib-pagination>

  <div class="panel panel-default" style="margin-bottom: 10px;">
    <div class="panel-heading">
      Front End Developer / JavaScript Developer (Angular.js jQuery TDD) for an award winning fintech start-up that has been revolutionising business lending. £60-£70K
    </div>
    <div class="panel-body" style="padding: 10px">

      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="thumbnail" style="margin-bottom: 0;" >
            <img src="assets/images/nasa.png" alt="...">
          </a>
        </div>
        <div class="col-xs-8">
          <div class="caption">
            <p>
              As a skilled Front End Developer you will use JavaScript, Angular.js and semantic HTML to design and develop clear, concise and user friendly interfaces for the core web based product.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="#" class="btn btn-warning" role="button">Edit</a>
      <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
  </div>

  <div class="panel panel-default" style="margin-bottom: 10px;">
    <div class="panel-heading">
      Front End Developer / JavaScript Developer (Angular.js jQuery TDD) for an award winning fintech start-up that has been revolutionising business lending. £60-£70K
    </div>
    <div class="panel-body" style="display: none;">

      <div class="row">
        <div class="col-xs-4">
          <a href="#" class="thumbnail" style="margin-bottom: 0;" >
            <img src="assets/images/nasa.png" alt="...">
          </a>
        </div>
        <div class="col-xs-8">
          <div class="caption">
            <p>
              As a skilled Front End Developer you will use JavaScript, Angular.js and semantic HTML to design and develop clear, concise and user friendly interfaces for the core web based product.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="#" class="btn btn-warning" role="button">Edit</a>
      <a href="#" class="btn btn-primary" role="button">View</a>
    </div>
  </div>

  <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" style="margin: 0;"></uib-pagination>

</div>
