<!--<div class="panel panel-default" ng-keydown="onKeyDown($event)" ng-keypress="onKeyPress($event)" >-->
<div class="panel panel-default">
  <div class="panel-body">

    <form name="algoliaForm" novalidate="" ng-submit="submit()">
      <div class="input-group">
        <input type="text" class="form-control input-without-focus" ng-model="algolia.req.query" placeholder="Barcode or Any Keywords" tabindex="1" input-focus>
        <div class="input-group-addon">
          <span ng-show="algolia.req.query === '';" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span ng-show="algolia.req.query !== '';" ng-click="algolia.req.query = '';" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </div>
    </form>

    <!--<pre>{{algoliaForm | json}}</pre>-->

    <section ng-show="algoliaForm.$pristine">
      <hr class="hr-xs">

      <img src="assets/images/uk.svg" alt="..." class="img-thumbnail">

      <hr class="hr-xs">

      <h2 class="font-poiret-one">Welcome to London Classifieds:</h2>

      <div class="list-group" style="margin-bottom: 0;">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet); algoliaForm.$pristine = false; algoliaForm.$dirty = true;" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
          <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

    </section>

    <div ng-show="algoliaForm.$dirty">
      <publications></publications>
    </div>

  </div>
</div>

<!--<pre>{{algolia | json}}</pre>-->
