<!--<div class="panel panel-default" ng-keydown="onKeyDown($event)" ng-keypress="onKeyPress($event)" >-->
<div class="panel panel-default">
  <div class="panel-body">

    <form name="algoliaForm" novalidate="" ng-submit="submit()">
      <div class="input-group">
        <input type="text" class="form-control input-without-focus" ng-model="algolia.req.query" placeholder="Barcode or Any Keywords" tabindex="1" input-focus>
        <div class="input-group-addon">
          <span ng-show="algolia.req.query === '';" class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span ng-show="algolia.req.query !== '';" ng-click="algolia.req.query = '';" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
      </div>
    </form>

    <!--<pre>{{algoliaForm | json}}</pre>-->

    <section ng-show="algoliaForm.$pristine">
      <hr class="hr-xs">

      <img src="assets/images/uk.svg" alt="..." class="img-thumbnail">

      <hr class="hr-xs">

      <h2 class="font-poiret-one">Welcome to London Classifieds:</h2>

      <div class="list-group" style="margin-bottom: 0;">
        <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories', facet); algoliaForm.$pristine = false; algoliaForm.$dirty = true;" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
          <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
          {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
        </button>
      </div>

    </section>

    <section ng-show="algoliaForm.$dirty" cg-busy="{promise: httpRequestPromise, message:'Just a moment'}">

      <hr class="hr-xs">

      <ol ng-show="algolia.faceting.currentFacets.categories.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" class="a-link"><i class="fa fa-bars"></i> Reset </li>
        <li ng-repeat="facet in algolia.faceting.currentFacets.categories" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('categories', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
      </ol>

      <ol ng-show="algolia.faceting.currentFacets.locations.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" class="a-link"><i class="fa fa-map-marker"></i> Reset </li>
        <li ng-repeat="facet in algolia.faceting.currentFacets.locations" ng-click="algolia.faceting.treeFacetsMethods.removeFacet('locations', facet, $index)" ng-class="{'a-link': !$last}"> {{facet.name | capitalizeFirstChar}} </li>
      </ol>

      <div ng-show="(algolia.res.query !== '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert" style="margin-bottom: 0;">There is not publications for this query: <b>{{algolia.res.query}}</b>, <a href="#/new-publication">create new one here!</a>  </div>
      <div ng-show="(algolia.res.query === '' && algolia.res.nbHits === 0)" class="alert alert-info" role="alert" style="margin-bottom: 0;">There is not publications, <a href="#/new-publication">create new one here!</a>  </div>

      <pre ng-show="algolia.res.nbPages > 0" style="margin-bottom: 10px"><b>Page:</b> {{algolia.pagination.currentPage}} of {{algolia.res.nbPages}} | <b>Hits:</b> {{algolia.res.nbHits}}</pre>

      <section ng-show="algolia.res.nbHits > 0" >
        <hr class="hr-xs">
        <div class="row">
          <div class="col-xs-4 col-md-3" style="padding-right: 5px;">

            <div class="panel panel-default" style="margin-bottom: 0;">
              <div class="panel-heading"><i class="fa fa-bars"></i> Categories <button ng-show="algolia.faceting.currentFacets.categories.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('categories')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('categories',facet);" ng-repeat="facet in algolia.faceting.facetsAvailables.categories" >
                  <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
                  {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
                </button>
              </div>
            </div>

            <div class="panel panel-default" style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-map-marker"></i> Locations <button ng-show="algolia.faceting.currentFacets.locations.length > 0" ng-click="algolia.faceting.treeFacetsMethods.removeAllFacet('locations')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.treeFacetsMethods.addFacet('locations',facet);" ng-repeat="facet in algolia.faceting.facetsAvailables.locations" >
                  <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (facet.name === 'Marketplace'),'fa-suitcase': (facet.name === 'Jobs'),'fa-home': (facet.name === 'Real Estate'),'fa-car': (facet.name === 'Transport'),'fa-wrench': (facet.name === 'Services')}"></i>
                  {{facet.name | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{facet.count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.jobType && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> Job type <button ng-show="algolia.faceting.currentFacets.jobType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobType',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobType" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.jobRecruiterType && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> Recruiter Type <button ng-show="algolia.faceting.currentFacets.jobRecruiterType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobRecruiterType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobRecruiterType',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobRecruiterType" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.jobSalaryType && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> Salary Type <button ng-show="algolia.faceting.currentFacets.jobSalaryType.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobSalaryType')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobSalaryType',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobSalaryType" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.reHomeStatus && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> Home Status <button ng-show="algolia.faceting.currentFacets.reHomeStatus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('reHomeStatus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('reHomeStatus',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.reHomeStatus" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.jobHasBenefits && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> The job has benefits <button ng-show="algolia.faceting.currentFacets.jobHasBenefits.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBenefits')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBenefits',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBenefits" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>

            <div ng-if="algolia.res.facets.jobHasBonus && algolia.faceting.currentFacets.categories.length > 0" class="panel panel-default"  style="margin-bottom: 0; margin-top: 10px;">
              <div class="panel-heading"><i class="fa fa-random"></i> The job has bonus <button ng-show="algolia.faceting.currentFacets.jobHasBonus.length > 0" ng-click="algolia.faceting.facetsMethods.removeFacet('jobHasBonus')" type="button" style="padding-bottom: 0; padding-top: 0; color: red;" class="btn btn-link">Reset</button></div>
              <div class="list-group">
                <button type="button" class="list-group-item" ng-click="algolia.faceting.facetsMethods.addFacet('jobHasBonus',facetName);" ng-repeat="(facetName , count) in algolia.res.facets.jobHasBonus" >
                  {{facetName | capitalizeFirstChar}} - <span class="badge" style="float: inherit;">{{count}}</span>
                </button>
              </div>
            </div>


          </div>
          <div class="col-xs-8 col-md-9" style="padding-left: 5px;">

            <div ng-show="algolia.res.nbHits > 1 && algolia.faceting.currentFacets.categories.length > 0" class="well well-sm" style="margin-bottom: 10px;">
              <div style="margin-bottom: 5px;">Sorted by: </div>
              <select  class="form-control" ng-model="algolia.sortOrder.currentIndexName" ng-change="algolia.sortOrder.sortBy()">
                <option ng-repeat="sortOrder in algolia.sortOrder.options[algolia.faceting.currentFacets.categories[0].name]" value="{{sortOrder.indexName}}">{{sortOrder.title}}</option>
              </select>
            </div>


            <div class="panel panel-default" style="margin-bottom: 0;">
              <div class="list-group">
                <a ng-href="#/view-publication/{{publication.objectID}}" class="list-group-item" ng-repeat="publication in algolia.res.hits">
                  <!-- publication -->
                  <div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h4>
                          <i style="color: #286090" class="fa" ng-class="{'fa-shopping-cart': (publication.department === 'Marketplace'),'fa-suitcase': (publication.department === 'Jobs'),'fa-home': (publication.department === 'Real Estate'),'fa-car': (publication.department === 'Transport'),'fa-wrench': (publication.department === 'Services')}"></i>
                          - <span ng-bind-html="publication._highlightResult.title.value | unsafe"></span></h4>
                        <hr class="hr-xs">
                      </div>
                    </div>

                    <div ng-if="(publication.department === 'Marketplace') || (publication.department === 'Real Estate') || (publication.department === 'Transport') || (publication.department === 'Services')">
                      <div class="row">
                        <div class="col-xs-8" style="padding-right: 5px; padding-left: 10px;">
                          <img ng-show="sizeOf(publication.images) === 0" src="assets/images/uk.svg" alt="..." class="img-responsive img-thumbnail">
                          <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                            <cl-transformation height="300" width="600" crop="fill"  />
                          </cl-image>
                        </div>
                        <div class="col-xs-4" style="padding-left: 5px;">
                          <ul class="list-unstyled">
                            <li ng-if="publication.department !== 'Services'"><h4><i class="fa fa-gbp"></i> £{{publication.price}}</h4></li>
                            <li><h5><i class="fa fa-map-marker"></i>
                              <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? '/': ''}} </span>
                            </h5></li>
                            <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}} / {{publication.releaseDate | date:'MM'}} / {{publication.releaseDate | date:'yy'}}  </h5></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div ng-if="(publication.department === 'Jobs')">
                      <div class="row">
                        <div class="col-xs-10" style="padding-right: 5px;">
                          <ul class="list-unstyled">
                            <li>
                              <h4>
                                <i class="fa fa-gbp"></i>
                                £{{publication.jobSalaryStartAt}} - £{{publication.jobSalaryEndAt}}
                                per {{publication.jobSalaryType == 'Annual' ? 'annum' : ''}}
                                    {{publication.jobSalaryType == 'Daily' ? 'day' : ''}}
                                    {{publication.jobSalaryType == 'Hourly' ? 'hour' : ''}}
                                {{publication.jobHasBenefits ? '+ benefits' : ''}}
                                {{publication.jobHasBonus ? '+ bonus' : ''}}
                              </h4>
                            </li>
                            <li><h5><i class="fa fa-map-marker"></i>
                              <span ng-repeat="location in publication.locations"> {{location | capitalizeFirstChar}} {{!$last ? '/': ''}} </span>
                            </h5></li>
                            <li><h5><i class="fa fa-calendar"></i> Since: {{publication.releaseDate | date:'dd'}} / {{publication.releaseDate | date:'MM'}} / {{publication.releaseDate | date:'yy'}}  </h5></li>
                          </ul>
                        </div>
                        <div class="col-xs-2" style="padding-left: 5px;">
                          <img ng-show="sizeOf(publication.images) === 0" src="assets/images/uk.svg" alt="..." class="img-responsive img-thumbnail">

                          <cl-image ng-show="sizeOf(publication.images) > 0"  public-id="{{publication.featuredImageId !== '' ? publication.featuredImageId : firstObj(publication.images) }}" class="inline img-responsive img-thumbnail" format="jpg">
                            <cl-transformation height="150" width="250" crop="fill"  />
                          </cl-image>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-12">
                          <hr class="hr-xs">
                          JavaScript Developer - Birkenhead - 3/6 months - AngularJS, HTML5, CSS3 I am currently looking for a JavaScript Developer to join a Business Travel...
                        </div>
                      </div>
                    </div>

                  </div>
                </a>
              </div>
            </div>




          </div>
        </div>
        <hr class="hr-xs">
      </section>

      <uib-pagination style="margin-bottom: -5px; margin-top: 0;" ng-show="algolia.res.nbHits > algolia.req.hitsPerPage" ng-change="algolia.pagination.pageChanged()" total-items="algolia.res.nbHits" ng-model="algolia.pagination.currentPage" max-size="algolia.pagination.maxSize" items-per-page="algolia.req.hitsPerPage" class="pagination-sm" boundary-links="algolia.res.nbPages > algolia.pagination.maxSize" rotate="false" num-pages="algolia.pagination.numPages"></uib-pagination>

    </section>




  </div>
</div>

<pre>{{algolia | json}}</pre>
