<!--<div class="panel panel-default" ng-keydown="onKeyDown($event)" ng-keypress="onKeyPress($event)" >-->
<div class="panel panel-default">
  <div class="panel-body">

    <div class="input-group">
      <input type="text" class="form-control input-without-focus" ng-model="algolia.query" placeholder="Barcode or Any Keyword" tabindex="1" input-focus>
      <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
    </div>

    <hr class="hr-xs">

    <img src="assets/images/uk.svg" alt="..." class="img-thumbnail">

    <hr class="hr-xs">

    <h2 class="font-poiret-one">Welcome to London Classifieds:</h2>

    <div class="list-group" style="margin-bottom: 0; font-family: 'Raleway', sans-serif; font-size: 15px; color: blue">
      <a href="#" class="list-group-item"><i class="fa fa-shopping-cart"></i> Marketplace</a>
      <a href="#" class="list-group-item"><i class="fa fa-suitcase"></i> Jobs</a>
      <a href="#" class="list-group-item"><i class="fa fa-home"></i> Real Estate</a>
      <a href="#" class="list-group-item"><i class="fa fa-car"></i> Transport</a>
      <a href="#" class="list-group-item"><i class="fa fa-wrench"></i> Services</a>
    </div>

  </div>
</div>

<pre>{{algolia | json}}</pre>
