<section cg-busy="{promise: httpRequestPromise, message:'Just a moment'}">

  <div class="panel panel-default uk-flag-background" ng-show="!publication.isReady" style="height: 300px;">
    <div class="panel-body">
    </div>
  </div>

  <div class="panel panel-default" ng-show="publication.categorySelected === false && publication.isReady">
    <div class="panel-heading">
      <h3 class="panel-title" ng-switch="publication.inEditMode">
        <span ng-switch-when="false" >New Publication - Select a category:</span>
        <span ng-switch-when="true">Edit Publication</span>
      </h3>
    </div>
    <div class="list-group">
      <button type="button" class="list-group-item" ng-click="setCategory(category.$id)" ng-repeat="category in publication.categories | filter:{parentId: (publication.model.categoryId) ? publication.model.categoryId: ''}:true" ><i style="color: #286090" class="fa fa-folder"></i> {{category.name | capitalizeFirstChar}}</button>
    </div>
    <div class="panel-body">

      <ol ng-show="publication.path.length > 0" class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-click="publication.model.categoryId =''; publication.path =[];" class="a-link"> Reset </li>
        <li ng-repeat="category in publication.path" ng-click="setCategory(category.$id)" ng-class="{'a-link': !$last}"> {{category.name | capitalizeFirstChar}} </li>
      </ol>

      <div class="alert alert-info alert-xs" style="margin-bottom: 0;" role="alert">NOTE: Select the category that best suits to the publication. No matter if it is too general or specific, the important thing is to select one.</div>

    </div>
    <div class="panel-footer" style="text-align: right;">
      <input ng-click="publication.categorySelected = true" type="button" class="btn btn-primary" ng-disabled="publication.model.categoryId ===''" value="Confirm selection" >
    </div>
  </div>

  <div class="panel panel-default" ng-show="publication.categorySelected && publication.isReady">
    <div class="panel-heading">
      <h3 class="panel-title" ng-switch="publication.inEditMode">
        <span ng-switch-when="false" >New Publication</span>
        <span ng-switch-when="true">Edit Publication</span>
      </h3>
    </div>
    <div class="panel-body">

      <ol class="breadcrumb" style="margin-bottom: 7px;">
        <li ng-repeat="category in publication.path"> {{category.name | capitalizeFirstChar}} </li>
      </ol>

      <form name="publicationForm" novalidate="" ng-submit="submit()">

        <div>
          <button ng-click="publication.categorySelected = false; publication.model.categoryId =''; publication.path =[];" type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit category</button>
          <button ng-switch="publication.$id !== '';" class="btn btn-primary"	type="submit" ><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-switch-when="true">Update</span>
            <span ng-switch-when="false">Publish</span>
          </button>
          <button ng-click="discard()" ng-switch="publication.$id !== '';" class="btn btn-warning" ng-class="{'btn-danger': publication.$id !== ''}"	type="button" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span ng-switch-when="true">Delete</span>
            <span ng-switch-when="false">Discard</span>
          </button>
        </div>

        <div ng-show="publication.images.length === 0 && publication.$id !== ''" class="alert alert-danger alert-xs" style="margin-bottom: 0; margin-top: 10px;" role="alert">NOTE: The images are mandatory, if the publication does not have at least one image, the publication will not be displayed to the clients.</div>

        <hr>

        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-bookmark"></span> Title <sup style="color: red;">*</sup></label>
          <input type="text" name="title" ng-model="publication.model.title" required minlength="7" capitalize class="form-control" placeholder="">
          <div data-ng-messages="publicationForm.$submitted && publicationForm.title.$error" class="help-block">
            <div data-ng-message="required">
              - The <b>title</b> is required.
            </div>
            <div data-ng-message="minlength" >
              - The <b>title</b> must be at least 7 characters long.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label"><span class="glyphicon glyphicon-book"></span> Description <sup style="color: red;">*</sup></label>
          <textarea redactor name="htmlDescription" data-ng-model="publication.model.htmlDescription" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="publicationForm.$submitted && publicationForm.htmlDescription.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>description</b> is required.
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="publication.model.department === 'Marketplace' || publication.model.department === 'Real Estate' || publication.model.department === 'Transport'" >
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><span class="glyphicon glyphicon-tag"></span> Price <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input name="price" ng-model="publication.model.price" required class="form-control" placeholder="Eje: 1000" type="number">
              </div>
              <div data-ng-messages="publicationForm.$submitted && publicationForm.price.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>price</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="publication.model.department === 'Marketplace'">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label"><i class="fa fa-cubes"></i> Quantity in stock <sup style="color: red;">*</sup></label>
              <div class="input-group">
                <div class="input-group-addon">Units</div>
                <input name="quantity" ng-model="publication.model.quantity" required class="form-control" placeholder="Eje: 100" type="number">
              </div>
              <div data-ng-messages="publicationForm.$submitted && publicationForm.quantity.$error" class="help-block">
                <div data-ng-message="required">
                  - The <b>quantity</b> is required.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div ng-controller="BarcodeController">
          <div class="row">
            <div class="col-xs-8">
              <label><i class="fa fa-barcode"></i> Barcode</label>

              <div class="row" style="margin-bottom: 10px;">
                <div class="col-xs-5">
                  <select class="form-control" ng-model="publication.model.barcodeType" ng-change="publicationForm.barcode.$dirty = true; publicationForm.barcode.$pristine = false; publication.model.barcode = '';">
                    <option ng-repeat="barcode in barcode.types" value="{{barcode.type}}">{{barcode.title}}</option>
                  </select>
                </div>
                <div class="col-xs-5">
                  <button ng-show="publication.model.barcodeType === 'CODE128'" class="btn btn-default" type="button" ng-click="setBarcodeCODE128Randomly(); publicationForm.barcode.$dirty = true; publicationForm.barcode.$pristine = false;">Set one CODE128 type randomly</button>
                </div>
              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <input name="barcode" ng-model="publication.model.barcode" required barcode barcode-options="barcode.options" class="form-control" placeholder="<Place here the bar code>" type="text">
              </div><!-- /input-group -->

              <div data-ng-messages="(publicationForm.$submitted && publicationForm.barcode.$error) || (publicationForm.barcode.$dirty && publicationForm.barcode.$error)" class="help-block">
                <div data-ng-message="required">
                  - The <b>barcode</b> is required.
                </div>
                <div data-ng-message="barcode">
                  - The <b>barcode </b> must be valid.
                </div>
              </div>

              <barcode-img ng-show="!publicationForm.barcode.$error.barcode"></barcode-img>

              <!--<pre>{{publicationForm.barcode | json}}</pre>-->

            </div>
          </div>
        </div>


        <div class="form-group" ng-if="publication.model.department === 'Marketplace'">
          <label class="control-label"><i class="fa fa-certificate"></i> Warranty <sup style="color: red;">*</sup></label>
          <textarea redactor name="htmlWarranty" data-ng-model="publication.model.htmlWarranty" required class="form-control" placeholder=""></textarea>
          <div data-ng-messages="publicationForm.$submitted && publicationForm.htmlWarranty.$error" class="help-block">
            <div data-ng-message="required" >
              - The <b>Warranty</b> is required.
            </div>
          </div>
        </div>

        <hr class="hr-xs">

        <button class="btn btn-primary"
                ngf-select data-ng-model="publication.images"
                name="files"
                data-ngf-multiple="true"
                data-accept="image/*"
                data-ngf-keep="true"
                data-ngf-keep-distinct="true"
                data-ngf-validate="{size: {max: '10MB'}, width: {min: 500, max:5000}, height: {min: 500, max: 5000}}"
                data-ngf-validate-force="true"
                required>
          <i class="fa fa-picture-o"></i> Select the images</button>

        <button ng-show="imagesInfo().inQueue > 0" type="button" class="btn btn-danger" ng-click="removeAllQueueFiles()"><span class="glyphicon glyphicon-trash"></span> Remove in queue</button>
        <button ng-show="imagesInfo().inServer > 0" type="button" class="btn btn-danger" ng-click="deleteAllPublicationImages()"><span class="glyphicon glyphicon-trash"></span> Remove in server</button>
        <button ng-show="imagesInfo().invalid > 0" type="button" class="btn btn-danger" ng-click="removeInvalidFiles()"><span class="glyphicon glyphicon-trash"></span> Remove invalid</button>


        <div data-ng-messages="publicationForm.$submitted && publicationForm.files.$error" class="help-block">
          <div data-ng-message="required" >
          - The <b>Images</b> are required.
          </div>
        </div>

        <div data-ng-messages="publicationForm.files.$error" class="help-block">
          <div data-ng-message="minHeight" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxHeight" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="minWidth" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxWidth" >
          - Some image(s) not meet the minimum specs.
          </div>
          <div data-ng-message="maxSize" >
          - Some image(s) exceeds the Maximum Size of 10MB.
          </div>
        </div>

        <div ng-show="publication.images.length > 0">

          <ul class="list-group" style="margin-bottom: 10px;">
            <li class="list-group-item">
              <span class="badge">{{imagesInfo().inQueue}}</span>
              Images in queue to upload:
            </li>
            <li class="list-group-item">
              <span class="badge">{{imagesInfo().inServer}}</span>
              Images in server:
            </li>
            <li class="list-group-item">
              <span class="badge">{{imagesInfo().invalid}}</span>
              Images invalid:
            </li>
          </ul>

          <hr class="hr-xs">

          <div class="panel panel-default" ng-repeat="(key, value) in publication.images" style="margin-bottom: 10px;">
            <div class="panel-body" style="padding: 5px;">
              <div class="row">
                <div class="col-xs-4 col-md-2" style="padding-right: 5px;">

                  <div ng-switch="value.blobUrl !== undefined">
                    <div ng-switch-when="true">
                      <img class="img-thumbnail img-preview img-responsive" ng-src="{{value.blobUrl || 'assets/images/loading.jpeg'}}" alt="{{value.name}}" width="100" height="100">
                    </div>
                    <div ng-switch-when="false">
                      <cl-image public-id="{{value.$id}}" class="inline img-thumbnail img-preview img-responsive" format="jpg">
                        <cl-transformation height="100" width="100" crop="fill"/>
                      </cl-image>
                    </div>
                  </div>

                  <div style="margin-bottom: 5px;"><span class="label label-default" ng-class="{'label-primary':(value.inServer)}">{{value.inServer ? 'In server' : 'In queue' }}</span></div>
                  <div style="margin-bottom: 5px;"><span ng-show="publication.model.featuredImageId === value.$id" class="label label-info">Primary image</span></div>
                </div>
                <div class="col-xs-8 col-md-10" style="padding-left: 5px;">
                  <div class="file-name">
                    {{value.name}}
                  </div>
                  <hr style="margin-top: 5px; margin-bottom: 5px;">
                  <div>

                    <!--<pre>{{value}}</pre>-->

                    <div ng-show="!value.$error">
                      <div><b>Size: </b>{{value.size | bytes}}</div>
                      <uib-progressbar ng-show="value.addedDate === undefined" class="progress-striped active" value="value.progress ? value.progress : 0" type="{{  value.progress < 100 ? 'info' : 'success' }}">{{value.progress}}%</uib-progressbar>
                    </div>

                    <div ng-show="value.$error" class="bg-warning" style="padding: 7px;">
                      <h3 class="text-warning" style="margin-bottom: 0; margin-top: 4px">Invalid image</h3>
                      <div style="margin-bottom: 3px;"><b>Reason: </b>
                        <span ng-switch="value.$error">
                          <span ng-switch-when="minHeight">Does not meet the minimum height of 500px.</span>
                          <span ng-switch-when="maxHeight">Does not meet the maximum height of 5000px.</span>
                          <span ng-switch-when="minWidth">Does not meet the minimum width of 500px.</span>
                          <span ng-switch-when="maxWidth">Does not meet the maximum width of 5000px.</span>
                          <span ng-switch-when="maxSize">Exceeds the Maximum Size of 10MB.</span>
                          <span ng-switch-default>Undefined</span>
                        </span>
                      </div>
                      <div style="margin-bottom: 3px"><b>Size:</b> {{value.size | bytes}}</div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" style="padding: 5px; text-align: right">
              <button ng-show="value.inServer && publication.model.featuredImageId !== value.$id && imagesInfo().inServer > 1" type="button" class="btn btn-primary btn-xs" ng-click="setAsPrimaryImage(value.$id)" ><i class="fa fa-thumb-tack"></i> Set as featured Image</button>
              <button type="button" class="btn btn-danger btn-xs" ng-click="removeFile(key,value)" ><span class="glyphicon glyphicon-trash"></span> Remove</button>
            </div>
          </div>

        </div>

      </form>

      <hr class="hr-xs">
      <div class="alert alert-info alert-xs" style="margin-bottom: 0;" role="alert">NOTE: This superscript <sup style="color: red;">*</sup> mean that, is required.</div>

    </div>
  </div>


  <pre>{{publication | json}}</pre>

</section>

<script type="text/ng-template" id="discardPublication.html">
    <div class="modal-header">
        <h3 ng-switch="publication.$id" class="modal-title">
           <span ng-switch-when="true" >Do you <b>really</b> want to <b>Delete</b> this publication?</span>
           <span ng-switch-when="false" >Do you want to discard this publication?</span>
        </h3>
    </div>
    <div class="modal-body">

        <h3 class="text-danger" style="margin-top: 0; margin-bottom: 0;">{{title | capitalize}}</h3>

        <div ng-switch="publication.$id" class="alert alert-info alert-xs" style="margin-bottom: 0; margin-top: 10px;" role="alert">
            <span ng-switch-when="true" >NOTE: This action cannot be undone. <b>This information will be permanently removed</b>.</span>
            <span ng-switch-when="false" >NOTE: This action cannot be undone.</span>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="confirm()" type="submit">Confirm</button>
    </div>
</script>